### 1. Mickey Mouse Problem
a) Write a program that prints the numbers from 1 to 100. But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. For numbers which are multiples of both three and five print MickeyMouse

b) Put the result in a tuple and substitute Mickey with Donald and Mouse with Duck

In [1]:
# Exercise 1a
List = []
for i in range(1,101) : 
    if ((i%3 == 0) and (i%5 == 0)) : List.append('MickeyMouse')
    elif (i%3 == 0) : List.append('Mickey')
    elif (i%5 == 0) : List.append('Mouse')
    else : List.append(i)
        
for item in List : print (item)

# Exercise 1b    
OriginalTuple = tuple(List)

for i,item in enumerate(List) : 
    if item == 'Mickey' : List[i] = 'Donald'
    elif item == 'Mouse' : List[i] = 'Duck'
        
NewTuple = tuple(List)
print (NewTuple)

1
2
Mickey
4
Mouse
Mickey
7
8
Mickey
Mouse
11
Mickey
13
14
MickeyMouse
16
17
Mickey
19
Mouse
Mickey
22
23
Mickey
Mouse
26
Mickey
28
29
MickeyMouse
31
32
Mickey
34
Mouse
Mickey
37
38
Mickey
Mouse
41
Mickey
43
44
MickeyMouse
46
47
Mickey
49
Mouse
Mickey
52
53
Mickey
Mouse
56
Mickey
58
59
MickeyMouse
61
62
Mickey
64
Mouse
Mickey
67
68
Mickey
Mouse
71
Mickey
73
74
MickeyMouse
76
77
Mickey
79
Mouse
Mickey
82
83
Mickey
Mouse
86
Mickey
88
89
MickeyMouse
91
92
Mickey
94
Mouse
Mickey
97
98
Mickey
Mouse
(1, 2, 'Donald', 4, 'Duck', 'Donald', 7, 8, 'Donald', 'Duck', 11, 'Donald', 13, 14, 'MickeyMouse', 16, 17, 'Donald', 19, 'Duck', 'Donald', 22, 23, 'Donald', 'Duck', 26, 'Donald', 28, 29, 'MickeyMouse', 31, 32, 'Donald', 34, 'Duck', 'Donald', 37, 38, 'Donald', 'Duck', 41, 'Donald', 43, 44, 'MickeyMouse', 46, 47, 'Donald', 49, 'Duck', 'Donald', 52, 53, 'Donald', 'Duck', 56, 'Donald', 58, 59, 'MickeyMouse', 61, 62, 'Donald', 64, 'Duck', 'Donald', 67, 68, 'Donald', 'Duck', 71, 'Donald', 73, 74, 'MickeyMouse', 76, 77, 'Donald', 79, 'Duck', 'Donald', 82, 83, 'Donald', 'Duck', 86, 'Donald', 88, 89, 'MickeyMouse', 91, 92, 'Donald', 94, 'Duck', 'Donald', 97, 98, 'Donald', 'Duck')

### 2. The swap function

Write a function that swap the values of two input variables x and y (whatever the type). Try to do that also without a temporary variable

In [2]:
# Exercise 2
def My_Swap_Function(X,Y) :
    X,Y = Y,X
    return X,Y

# Test Function
X = 'TestString'
Y = 42
print (X,Y)
X,Y = My_Swap_Function(X,Y)
print (X,Y)

TestString 42
42 TestString

### 3. Computing the distance

Write a function that calculates and returns the euclidean distance between two points u* and *v, where u* and *v are both 2-tuples (x,y). For example, if u=(3,0) and v=(0,4), the function should return 5

In [3]:
# Exercise 3
import math

def Distance(u,v) :
    dx = abs(u[0] - v[0])
    dy = abs(u[1] - v[1])
    distance = math.sqrt(dx**2 + dy**2)
    return distance

# Test our function
u,v = (3,0),(0,4)
print (Distance(u,v))

5.0

### 4. Counting letters

Write a program to calculate the number of times each character occurs in a given string s. Ignore differneces in capitalization

In [4]:
# Exercise 4
import string

s="Write a program that prints the numbers from 1 to 100. \
But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. \
For numbers which are multiples of both three and five print MickeyMouse"

def CountLetters(s) : 
    s = s.lower()
    for letter in string.ascii_lowercase : 
        n = s.count(letter)
        print (letter + ' Has been found ' + str(n) + ' times!')
        
    return

# Test function
CountLetters(s)

a Has been found 7 times!
b Has been found 5 times!
c Has been found 3 times!
d Has been found 3 times!
e Has been found 22 times!
f Has been found 10 times!
g Has been found 1 times!
h Has been found 9 times!
i Has been found 14 times!
j Has been found 0 times!
k Has been found 2 times!
l Has been found 6 times!
m Has been found 12 times!
n Has been found 10 times!
o Has been found 13 times!
p Has been found 8 times!
q Has been found 0 times!
r Has been found 17 times!
s Has been found 9 times!
t Has been found 19 times!
u Has been found 9 times!
v Has been found 2 times!
w Has been found 2 times!
x Has been found 0 times!
y Has been found 2 times!
z Has been found 0 times!

### 5. Isolating the unique

Write a function that determines and count the unique numbers in the list l

In [5]:
# Exercise 5

l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]

def Unique_Elements(l) :
    s = set(l)
    n = len(s)
    print ('The list contains ' + str(n) + ' unique elements!\n')
    print ('Unique elements: \n' + str(s))
    return

# Test function
Unique_Elements(l)

The list contains 54 unique elements!

Unique elements:
{1, 3, 5, 8, 9, 10, 16, 18, 19, 20, 24, 30, 31, 33, 34, 36, 37, 39, 41, 42, 45, 47, 50, 51, 53, 54, 55, 56, 57, 58, 63, 64, 66, 70, 72, 74, 75, 79, 81, 82, 84, 85, 86, 87, 88, 89, 90, 91, 92, 94, 95, 96, 98, 99}

### 6. Combination of functions

Write two functions - one that returns the square of a number, and one that returns the cube. Now write a third function that returns the number raised to the 6th power using the two previous functions.

In [6]:
# Exercise 6

def square(f) :
    return f**2

def cube(f) :
    return f**3

def PowerSix(f) :
    return cube(square(f))

# Test function
print (PowerSix(2))

64

### 7. Cubes

Create a list of the cubes of x for x in [0, 10] using:

a) a for loop

b) a list comprehension

In [7]:
# Exercise 7

List1 = []
for i in range(0,11) :
    List1.append(i**3)
    
List2 = [i**3 for i in range(0,11)]
    
print (List1)
print (List2)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]
[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

### 8. Nested list comprehension

A Pythagorean triple is an integer solution to the Pythagorean theorem ùëé2+ùëè2=ùëê2
. The first Pythagorean triple is (3,4,5). Find and put in a tuple all unique Pythagorean triples for the positive integers a, b and c less than 100.

In [8]:
# Exercise 8 - Find Pythagorean Triples

Range = 100
Pyth_List = []
for b in range(1,Range) :
    for a in range(1,b) :
        c = math.sqrt(a**2 + b**2)
        if ((c%1 == 0) and (c < 100)) : 
            PTuple = (a,b,int(c))
            Pyth_List.append(PTuple)
            
for item in Pyth_List : print (item)

(3, 4, 5)
(6, 8, 10)
(5, 12, 13)
(9, 12, 15)
(8, 15, 17)
(12, 16, 20)
(15, 20, 25)
(20, 21, 29)
(7, 24, 25)
(10, 24, 26)
(18, 24, 30)
(21, 28, 35)
(16, 30, 34)
(24, 32, 40)
(12, 35, 37)
(15, 36, 39)
(27, 36, 45)
(9, 40, 41)
(30, 40, 50)
(40, 42, 58)
(33, 44, 55)
(24, 45, 51)
(28, 45, 53)
(14, 48, 50)
(20, 48, 52)
(36, 48, 60)
(39, 52, 65)
(48, 55, 73)
(33, 56, 65)
(42, 56, 70)
(11, 60, 61)
(25, 60, 65)
(32, 60, 68)
(45, 60, 75)
(16, 63, 65)
(60, 63, 87)
(48, 64, 80)
(51, 68, 85)
(24, 70, 74)
(21, 72, 75)
(30, 72, 78)
(54, 72, 90)
(65, 72, 97)
(40, 75, 85)
(57, 76, 95)
(36, 77, 85)
(18, 80, 82)
(39, 80, 89)
(13, 84, 85)
(35, 84, 91)

### 9. Normalization

Write a function that takes a tuple of numbers and returns it with the entries normalized to one

In [9]:
# Exercise 9 - Normalization

def Normalization(t) :
    N = 0.0
    l = list(t)
    for i in range(0,len(t)) :
        N += t[i]**2
    for i in range(0,len(l)) :
        l[i] = l[i]/math.sqrt(N)
    return tuple(l)

# Test function
t1 = (0,3,4,0)
t2 = (-4,12,8,-2)
n1, n2 = Normalization(t1), Normalization(t2)
print (n1)
print (n2)

(0.0, 0.6, 0.8, 0.0)
(-0.26490647141300877, 0.7947194142390263, 0.5298129428260175, -0.13245323570650439)