In [1]:
#output without print
from IPython.core.interactiveshell import InteractiveShell 
InteractiveShell.ast_node_interactivity = "all"

# Exercise 1

## Part 1.a

1. The MickeyMouse problem

a) Write a program that prints the numbers from 1 to 100. But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. For numbers which are multiples of both three and five print MickeyMouse

In [2]:
n = int(1e2)

res_1a = list(range(1,n+1))

res_1a[2::3] = ["Mickey"]*(int(n/3))
res_1a[4::5] = ["Mouse"]*(int(n/5))
res_1a[14::15] = ["MickeyMouse"]*(int(n/15))

print(res_1a[:15])

[1, 2, 'Mickey', 4, 'Mouse', 'Mickey', 7, 8, 'Mickey', 'Mouse', 11, 'Mickey', 13, 14, 'MickeyMouse']

## Part 1.b

b) Put the result in a tuple and substitute Mickey with Donald and Mouse with Duck

In [3]:
res_1b = tuple(res_1a)

var_1b = list(res_1b)

var_1b[2::3] = ["Donald"]*(int(n/3))
var_1b[4::5] = ["Duck"]*(int(n/5))
var_1b[14::15] = ["DonaldDuck"]*(int(n/15))

res_1b_2 = tuple(var_1b)

print(res_1b_2[:15])

(1, 2, 'Donald', 4, 'Duck', 'Donald', 7, 8, 'Donald', 'Duck', 11, 'Donald', 13, 14, 'DonaldDuck')

# Exercise 2

2\. The swap function

Write a function that swap the values of two input variables x and y (whatever the type). Try to do that also without a temporary variable

In [4]:
def swap_with_temp(a,b):
    c = a
    a = b
    b = c
    return(a,b)

def swap_without_temp(a,b):
    return(b,a)
    

x = ["ciao",2]
y = True
print(x,y)

x,y = swap_with_temp(x,y)
print(x,y)
x,y = swap_without_temp(x,y)
print(x,y)
x,y = y,x #same as swap_without_temp but without defining a function
print(x,y)

['ciao', 2] True
True ['ciao', 2]
['ciao', 2] True
True ['ciao', 2]

# Exercise 3

3\. Computing the distance

Write a function that calculates and returns the euclidean distance between two points *u* and *v*, where *u* and *v* are both 2-tuples *(x,y)*. For example, if *u=(3,0)* and *v=(0,4)*, the function should return 5

In [5]:
from math import sqrt

def eucl_dist(u,v):
    w = ((u[i]-v[i])**2 for i in [0,1])
    return(sqrt(sum(w)))

u = (3,0)
v = (0,4)

print(eucl_dist(u,v))

5.0

# Exercise 4

4\. Counting letters

Write a program to calculate the number of times each character occurs in a given string *s*. Ignore differneces in capitalization

In [6]:
s="Write a program that prints the numbers from 1 to 100. \
But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. \
For numbers which are multiples of both three and five print MickeyMouse"

In [7]:
my_str = s.lower()

countings_4 = {}

for char in my_str:
    countings_4[char] = my_str.count(char)

for i in sorted(countings_4):
    print("%s : %s" %(i, countings_4[i]))

  : 41
. : 2
0 : 2
1 : 2
a : 7
b : 5
c : 3
d : 3
e : 22
f : 10
g : 1
h : 9
i : 14
k : 2
l : 6
m : 12
n : 10
o : 13
p : 8
r : 17
s : 9
t : 19
u : 9
v : 2
w : 2
y : 2

# Exercise 5

5\. Isolating the unique

Write a function that determines and count the unique numbers in the list *l*

In [8]:
l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]

In [9]:
countings_5={}

for numb in l:
    countings_5[numb] = l.count(numb)

print("There are %i unique numbers in the list and they are: " %len(countings_5))
print(*sorted(countings_5), sep=", ")

There are 54 unique numbers in the list and they are:
1, 3, 5, 8, 9, 10, 16, 18, 19, 20, 24, 30, 31, 33, 34, 36, 37, 39, 41, 42, 45, 47, 50, 51, 53, 54, 55, 56, 57, 58, 63, 64, 66, 70, 72, 74, 75, 79, 81, 82, 84, 85, 86, 87, 88, 89, 90, 91, 92, 94, 95, 96, 98, 99

# Exercise 6

6\. Combination of functions

Write two functions - one that returns the square of a number, and one that returns the cube. Now write a third function that returns the number raised to the 6th power using the two previous functions.

In [10]:
def square(x):
    return(x*x)
    
def cube(x):
    return(x**3)

def sixth_pow(x):
    return(square(cube(x)))

x_6=2

print(square(x_6))
print(cube(x_6))
print(sixth_pow(x_6))

4
8
64

# Exercise 7

7\. Cubes

Create a list of the cubes of x for x in *[0, 10]* using:

a) a for loop

b) a list comprehension

In [11]:
cubes_for = []

for x in range(11):
    cubes_for.append(x**3)

print(cubes_for)


cubes_comp = [x**3 for x in range(11)]

print(cubes_comp)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]
[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

# Exercise 8

8\. Nested list comprehension

A Pythagorean triple is an integer solution to the Pythagorean theorem $a^2+b^2=c^2$. The first Pythagorean triple is (3,4,5). Find and put in a tuple all unique Pythagorean triples for the positive integers a, b and c less than 100.

In [12]:
from math import sqrt

n_8 = 100
numb_8 = range(1,n)

triplets = []

for i in numb_8[:int(0.5*(sqrt(2*n**2)-1))]:
    for j in numb_8[i:int(sqrt(n**2-i**2))]:
        if (sqrt(i**2 + j**2)).is_integer() and sqrt(i**2 + j**2)<100: triplets.append([i,j,int(sqrt(i**2 + j**2))])

print(triplets)

[[3, 4, 5], [5, 12, 13], [6, 8, 10], [7, 24, 25], [8, 15, 17], [9, 12, 15], [9, 40, 41], [10, 24, 26], [11, 60, 61], [12, 16, 20], [12, 35, 37], [13, 84, 85], [14, 48, 50], [15, 20, 25], [15, 36, 39], [16, 30, 34], [16, 63, 65], [18, 24, 30], [18, 80, 82], [20, 21, 29], [20, 48, 52], [21, 28, 35], [21, 72, 75], [24, 32, 40], [24, 45, 51], [24, 70, 74], [25, 60, 65], [27, 36, 45], [28, 45, 53], [30, 40, 50], [30, 72, 78], [32, 60, 68], [33, 44, 55], [33, 56, 65], [35, 84, 91], [36, 48, 60], [36, 77, 85], [39, 52, 65], [39, 80, 89], [40, 42, 58], [40, 75, 85], [42, 56, 70], [45, 60, 75], [48, 55, 73], [48, 64, 80], [51, 68, 85], [54, 72, 90], [57, 76, 95], [60, 63, 87], [65, 72, 97]]

In [13]:
tnr = [] #triplets not repeated (multiples)

for i in range(0,len(triplets)):
    ins = True
    for j in range(i):
        if (triplets[i][0]%triplets[j][0])==0:
            if triplets[j][1]*int(triplets[i][0]/triplets[j][0]) == triplets[i][1]:
                ins = False
                break
    if ins:
        tnr.append(triplets[i])
            
print(tnr)

[[3, 4, 5], [5, 12, 13], [7, 24, 25], [8, 15, 17], [9, 40, 41], [11, 60, 61], [12, 35, 37], [13, 84, 85], [16, 63, 65], [20, 21, 29], [28, 45, 53], [33, 56, 65], [36, 77, 85], [39, 80, 89], [48, 55, 73], [65, 72, 97]]

# Exercise 9

9\. Normalization

Write a function that takes a tuple of numbers and returns it with the entries normalized to one

In [14]:
def normal(tup,precision="no"):
    list_tup = list(tup)
    max = list_tup[1]
    min = list_tup[1]
    for num in list_tup:
        if num > max : max = num
        if num < min : min = num
    for i in range(len(list_tup)):
        if precision == "no" : list_tup[i]=(list_tup[i]-min)/(max-min)
        else : list_tup[i]=round((list_tup[i]-min)/(max-min),precision)
    return(tuple(list_tup))


tup = (-3,8.7,1.12,3,-4.6)

print(normal(tup,4))

(0.1203, 1.0, 0.4301, 0.5714, 0.0)