1. The MickeyMouse problem

a) Write a program that prints the numbers from 1 to 100. But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. For numbers which are multiples of both three and five print MickeyMouse

b) Put the result in a tuple and substitute Mickey with Donald and Mouse with Duck

## Solution

### 1a)

In [35]:
mm = []
for i in range(1,100,1):
    if i % 3 == 0 and i % 5 == 0 :
        mm.append("MickeyMouse")
    elif i % 3 == 0 :
        mm.append("Mickey")
    elif i % 5 == 0 :
        mm.append("Mouse")
    else :
        mm.append(i)

print(mm)

[1, 2, 'Mickey', 4, 'Mouse', 'Mickey', 7, 8, 'Mickey', 'Mouse', 11, 'Mickey', 13, 14, 'MickeyMouse', 16, 17, 'Mickey', 19, 'Mouse', 'Mickey', 22, 23, 'Mickey', 'Mouse', 26, 'Mickey', 28, 29, 'MickeyMouse', 31, 32, 'Mickey', 34, 'Mouse', 'Mickey', 37, 38, 'Mickey', 'Mouse', 41, 'Mickey', 43, 44, 'MickeyMouse', 46, 47, 'Mickey', 49, 'Mouse', 'Mickey', 52, 53, 'Mickey', 'Mouse', 56, 'Mickey', 58, 59, 'MickeyMouse', 61, 62, 'Mickey', 64, 'Mouse', 'Mickey', 67, 68, 'Mickey', 'Mouse', 71, 'Mickey', 73, 74, 'MickeyMouse', 76, 77, 'Mickey', 79, 'Mouse', 'Mickey', 82, 83, 'Mickey', 'Mouse', 86, 'Mickey', 88, 89, 'MickeyMouse', 91, 92, 'Mickey', 94, 'Mouse', 'Mickey', 97, 98, 'Mickey']

### 1b)

In [36]:
for i in range(1,100,1):
    if i % 3 == 0 and i % 5 == 0 :
        mm.remove(i)
        mm.insert(i, "MickeyMouse")
    elif i % 3 == 0 :
        mm.remove(i)
        mm.insert(i, "Mickey")
    elif i % 5 == 0 :
        mm.remove(i)
        mm.insert(i, "Mouse")

print(mm)

ValueError: list.remove(x): x not in list

2\. The swap function

Write a function that swap the values of two input variables x and y (whatever the type). Try to do that also without a temporary variable

In [57]:
def swap(a,b):
    temp = a
    a = b
    b = temp
    return a,b

def noTempSwap(a,b):
    b = str(b) + ":" + str(a)    
    return b[:b.find(":")], b[b.find(":")+1:]
    
k,l = noTempSwap(22,41)

print(k)
print(l)

41
22

3\. Computing the distance

Write a function that calculates and returns the euclidean distance between two points *u* and *v*, where *u* and *v* are both 2-tuples *(x,y)*. For example, if *u=(3,0)* and *v=(0,4)*, the function should return 5

In [80]:
def euclideanDist(a, b):
    distance = (pow(a[0] - b[0], 2) + pow(a[1] - b[1], 2))**(1/2)
    return distance

u = (3, 0)
v = (0, 4)

print(euclideanDist(u, v))

5.0

4\. Counting letters

Write a program to calculate the number of times each character occurs in a given string *s*. Ignore differneces in capitalization

In [73]:
s="Write a program that prints the numbers from 1 to 100. \
But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. \
For numbers which are multiples of both three and five print MickeyMouse"

In [75]:
characters = [x for x in s]

d = dict()
for i in range(0,len(characters),1):
    key = characters[i].capitalize()
    if key in d:
        d[key] += 1
    else:
        d[key] = 1
        

sorted_by_value = sorted(d.items(), key=lambda kv: kv[1])
print(sorted_by_value)

[('G', 1), ('W', 2), ('1', 2), ('0', 2), ('.', 2), ('K', 2), ('Y', 2), ('V', 2), ('C', 3), ('D', 3), ('B', 5), ('L', 6), ('A', 7), ('P', 8), ('H', 9), ('S', 9), ('U', 9), ('N', 10), ('F', 10), ('M', 12), ('O', 13), ('I', 14), ('R', 17), ('T', 19), ('E', 22), (' ', 41)]

5\. Isolating the unique

Write a function that determines and count the unique numbers in the list *l*

In [76]:
l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]

In [77]:
intdictionary = dict()
for i in range(0,len(l),1):
    key = l[i]
    if key in intdictionary:
        del intdictionary[key]
    else:
        intdictionary[key] = 1
        
print(intdictionary)

{58: 1, 74: 1, 96: 1, 64: 1, 10: 1, 24: 1, 19: 1, 33: 1, 86: 1, 99: 1, 18: 1, 47: 1, 88: 1, 55: 1, 54: 1, 8: 1, 79: 1, 81: 1, 57: 1, 37: 1, 1: 1, 9: 1, 95: 1, 90: 1, 98: 1, 39: 1, 16: 1, 82: 1, 92: 1, 41: 1, 45: 1, 30: 1, 70: 1, 85: 1, 94: 1, 5: 1, 36: 1, 72: 1, 91: 1, 87: 1, 75: 1, 53: 1, 51: 1, 20: 1}

6\. Combination of functions

Write two functions - one that returns the square of a number, and one that returns the cube. Now write a third function that returns the number raised to the 6th power using the two previous functions.

In [88]:
def square(a):
    return a**2

def cube(a):
    return a**3

def sixthpow(a):
    return square(cube(a))
    
print(square(2))
print(cube(2))
print(sixthpow(5))

4
8
15625

7\. Cubes

Create a list of the cubes of x for x in *[0, 10]* using:

a) a for loop

b) a list comprehension

In [90]:
cubes_list = []
for i in range(0, 10, 1):
    cubes_list.append(cube(i))
print(cubes_list)
    
cubes_lc = [cube(x) for x in range(0, 10, 1)]
print(cubes_lc)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729]
[0, 1, 8, 27, 64, 125, 216, 343, 512, 729]

8\. Nested list comprehension

A Pythagorean triple is an integer solution to the Pythagorean theorem $a^2+b^2=c^2$. The first Pythagorean triple is (3,4,5). Find and put in a tuple all unique Pythagorean triples for the positive integers a, b and c less than 100.

In [ ]:
from fractions import gcd
a = 1
b = 1
c = 1

m = 1
n = 0

while a < 100 or b < 100 or c < 100:
    if (gcd(m, n) == 1):
        
    
    i+=1

9\. Normalization

Write a function that takes a tuple of numbers and returns it with the entries normalized to one