1. The MickeyMouse problem

a) Write a program that prints the numbers from 1 to 100. But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. For numbers which are multiples of both three and five print MickeyMouse

b) Put the result in a tuple and substitute Mickey with Donald and Mouse with Duck

In [2]:
def mikey_mouse():
    mylist=[]
    for i in range(1,100):
        toprint = ""
        if i % 3 == 0:
            toprint+="Mickey"
        if i % 5 == 0:
            toprint+="Mouse"
        if i % 3 != 0 and i %5 != 0:
            toprint = "%.i" %i
        mylist.append(toprint)
        print(toprint+" ")
    return mylist  

mikeylist=mikey_mouse()
donaldtuple=tuple([item.replace('Mickey','Donald').replace('Mouse','Duck') for item in mikeylist])
print(type(donaldtuple), donaldtuple)

1
2
Mickey
4
Mouse
Mickey
7
8
Mickey
Mouse
11
Mickey
13
14
MickeyMouse
16
17
Mickey
19
Mouse
Mickey
22
23
Mickey
Mouse
26
Mickey
28
29
MickeyMouse
31
32
Mickey
34
Mouse
Mickey
37
38
Mickey
Mouse
41
Mickey
43
44
MickeyMouse
46
47
Mickey
49
Mouse
Mickey
52
53
Mickey
Mouse
56
Mickey
58
59
MickeyMouse
61
62
Mickey
64
Mouse
Mickey
67
68
Mickey
Mouse
71
Mickey
73
74
MickeyMouse
76
77
Mickey
79
Mouse
Mickey
82
83
Mickey
Mouse
86
Mickey
88
89
MickeyMouse
91
92
Mickey
94
Mouse
Mickey
97
98
Mickey
<class 'tuple'> ('1', '2', 'Donald', '4', 'Duck', 'Donald', '7', '8', 'Donald', 'Duck', '11', 'Donald', '13', '14', 'DonaldDuck', '16', '17', 'Donald', '19', 'Duck', 'Donald', '22', '23', 'Donald', 'Duck', '26', 'Donald', '28', '29', 'DonaldDuck', '31', '32', 'Donald', '34', 'Duck', 'Donald', '37', '38', 'Donald', 'Duck', '41', 'Donald', '43', '44', 'DonaldDuck', '46', '47', 'Donald', '49', 'Duck', 'Donald', '52', '53', 'Donald', 'Duck', '56', 'Donald', '58', '59', 'DonaldDuck', '61', '62', 'Donald', '64', 'Duck', 'Donald', '67', '68', 'Donald', 'Duck', '71', 'Donald', '73', '74', 'DonaldDuck', '76', '77', 'Donald', '79', 'Duck', 'Donald', '82', '83', 'Donald', 'Duck', '86', 'Donald', '88', '89', 'DonaldDuck', '91', '92', 'Donald', '94', 'Duck', 'Donald', '97', '98', 'Donald')

2\. The swap function

Write a function that swap the values of two input variables x and y (whatever the type). Try to do that also without a temporary variable

In [26]:
# I'm not sure if I got the right task.. In principle this should work-

def swap_easy(x,y):
    return y,x

x = 3
y = ["hey", 12]
x, y = swap_easy(x,y)
print(x, y)

['hey', 12] 3

3\. Computing the distance

Write a function that calculates and returns the euclidean distance between two points *u* and *v*, where *u* and *v* are both 2-tuples *(x,y)*. For example, if *u=(3,0)* and *v=(0,4)*, the function should return 5

In [17]:
def dist(a,b):
    if type(a) is tuple and type(b) is tuple:
        dx = b[0]-a[0]
        dy = b[1]-a[1]
        dist=(dx**2+dy**2)**0.5          
    else:
         print("Arguments must be 2-tuples!")
    return dist

p = (0, 0)
q = (3, 4)
print(dist(p,q))

5.0

4\. Counting letters

Write a program to calculate the number of times each character occurs in a given string *s*. Ignore differneces in capitalization

In [7]:
s="Write a program that prints the numbers from 1 to 100. \
But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. \
For numbers which are multiples of both three and five print MickeyMouse"

In [9]:
def count_char(st):
    t=st.lower()
    ll=set(t)
    for char in ll:
        times[char]=t.count(char)
    return times

count_char(s)

{'a': 7,
 'd': 3,
 'm': 12,
 'i': 14,
 'h': 9,
 'p': 8,
 '0': 2,
 'k': 2,
 'g': 1,
 '.': 2,
 '1': 2,
 'c': 3,
 'v': 2,
 'r': 17,
 'u': 9,
 'n': 10,
 'e': 22,
 't': 19,
 's': 9,
 ' ': 41,
 'l': 6,
 'b': 5,
 'w': 2,
 'y': 2,
 'f': 10,
 'o': 13}

5\. Isolating the unique

Write a function that determines and count the unique numbers in the list *l*

In [10]:
l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]

In [12]:
def uniques(list0):
    dict0 = {}
    for num in list0:
        if num not in dict0:
            dict0[num] = 1
        else:
            dict0[num] += 1
    list1=[]
    for key in dict0:
        if dict0[key] == 1 :
            list1.append(key)
    return list1, len(list1)


newlist, counts = uniques(l)

print(newlist, counts)

[58, 74, 96, 64, 10, 24, 19, 33, 86, 99, 18, 47, 88, 55, 54, 8, 79, 81, 57, 37, 1, 9, 95, 90, 98, 39, 16, 82, 92, 41, 30, 94, 5, 72, 87, 75, 53] 37

6\. Combination of functions

Write two functions - one that returns the square of a number, and one that returns the cube. Now write a third function that returns the number raised to the 6th power using the two previous functions.

In [28]:
def square(x):
    sqr = x**2
    return sqr
   
def cube(x):
    square(x)
    cub = x**3   
    return cub
   
def sixth(x):
    return cube(square(x))
        
sixth(3)

729

7\. Cubes

Create a list of the cubes of x for x in *[0, 10]* using:

a) a for loop

b) a list comprehension

In [31]:
cubes0 = []
for i in range(11):
    cubes0.append(i**3)
print(cubes0)

cubes1 = [i**3 for i in range(11)]
print(cubes1)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]
[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

8\. Nested list comprehension

A Pythagorean triple is an integer solution to the Pythagorean theorem $a^2+b^2=c^2$. The first Pythagorean triple is (3,4,5). Find and put in a tuple all unique Pythagorean triples for the positive integers a, b and c less than 100.

In [10]:
py_triples=[]
for a in range(1,101):
    for b in range(a,101):
        c=(a**2+b**2)**0.5
        if c%1 == 0 and c<100:
            py_triples.append((a,b,int(c)))
                              
py_tuples=tuple(py_triples)

print(py_tuples)

((3, 4, 5), (5, 12, 13), (6, 8, 10), (7, 24, 25), (8, 15, 17), (9, 12, 15), (9, 40, 41), (10, 24, 26), (11, 60, 61), (12, 16, 20), (12, 35, 37), (13, 84, 85), (14, 48, 50), (15, 20, 25), (15, 36, 39), (16, 30, 34), (16, 63, 65), (18, 24, 30), (18, 80, 82), (20, 21, 29), (20, 48, 52), (21, 28, 35), (21, 72, 75), (24, 32, 40), (24, 45, 51), (24, 70, 74), (25, 60, 65), (27, 36, 45), (28, 45, 53), (30, 40, 50), (30, 72, 78), (32, 60, 68), (33, 44, 55), (33, 56, 65), (35, 84, 91), (36, 48, 60), (36, 77, 85), (39, 52, 65), (39, 80, 89), (40, 42, 58), (40, 75, 85), (42, 56, 70), (45, 60, 75), (48, 55, 73), (48, 64, 80), (51, 68, 85), (54, 72, 90), (57, 76, 95), (60, 63, 87), (65, 72, 97))

In [9]:
triples=[(x,y,int((x**2+y**2)**0.5)) for x in range(1,101) for y in range(x,101) if ((x**2+y**2)**0.5)%1==0 and (x**2+y**2)**0.5<100]
trip_tup=tuple((triples))
print(trip_tup)

((3, 4, 5), (5, 12, 13), (6, 8, 10), (7, 24, 25), (8, 15, 17), (9, 12, 15), (9, 40, 41), (10, 24, 26), (11, 60, 61), (12, 16, 20), (12, 35, 37), (13, 84, 85), (14, 48, 50), (15, 20, 25), (15, 36, 39), (16, 30, 34), (16, 63, 65), (18, 24, 30), (18, 80, 82), (20, 21, 29), (20, 48, 52), (21, 28, 35), (21, 72, 75), (24, 32, 40), (24, 45, 51), (24, 70, 74), (25, 60, 65), (27, 36, 45), (28, 45, 53), (30, 40, 50), (30, 72, 78), (32, 60, 68), (33, 44, 55), (33, 56, 65), (35, 84, 91), (36, 48, 60), (36, 77, 85), (39, 52, 65), (39, 80, 89), (40, 42, 58), (40, 75, 85), (42, 56, 70), (45, 60, 75), (48, 55, 73), (48, 64, 80), (51, 68, 85), (54, 72, 90), (57, 76, 95), (60, 63, 87), (65, 72, 97))

9\. Normalization

Write a function that takes a tuple of numbers and returns it with the entries normalized to one

In [14]:
def normatuple(tup):
    sum=0
    for i in tup:
        sum += i
    norm_list = [i/sum for i in tup]
    return tuple(norm_list)


normatuple((1,1,2))

(0.25, 0.25, 0.5)