1. The MickeyMouse problem

a) Write a program that prints the numbers from 1 to 100. But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. For numbers which are multiples of both three and five print MickeyMouse

b) Put the result in a tuple and substitute Mickey with Donald and Mouse with Duck

In [13]:
tuple = []
for i in range(1,101):
    if ((i % 3 == 0) and (i % 5 == 0)):
        print ("MickeyMouse")
        tuple.append("MickeyMouse")
    else:
        if ((i % 3 == 0) and (i % 5 != 0)):
            tuple.append("Mickey")
            print("Mickey")
        else:
            if ((i % 3 != 0 ) and (i % 5 ==0)):
                tuple.append("Mouse")
                print("Mouse")
            else:
                print(i)
                tuple.append(i)
tuple

1
2
Mickey
4
Mouse
Mickey
7
8
Mickey
Mouse
11
Mickey
13
14
MickeyMouse
16
17
Mickey
19
Mouse
Mickey
22
23
Mickey
Mouse
26
Mickey
28
29
MickeyMouse
31
32
Mickey
34
Mouse
Mickey
37
38
Mickey
Mouse
41
Mickey
43
44
MickeyMouse
46
47
Mickey
49
Mouse
Mickey
52
53
Mickey
Mouse
56
Mickey
58
59
MickeyMouse
61
62
Mickey
64
Mouse
Mickey
67
68
Mickey
Mouse
71
Mickey
73
74
MickeyMouse
76
77
Mickey
79
Mouse
Mickey
82
83
Mickey
Mouse
86
Mickey
88
89
MickeyMouse
91
92
Mickey
94
Mouse
Mickey
97
98
Mickey
Mouse

[1,
 2,
 'Mickey',
 4,
 'Mouse',
 'Mickey',
 7,
 8,
 'Mickey',
 'Mouse',
 11,
 'Mickey',
 13,
 14,
 'MickeyMouse',
 16,
 17,
 'Mickey',
 19,
 'Mouse',
 'Mickey',
 22,
 23,
 'Mickey',
 'Mouse',
 26,
 'Mickey',
 28,
 29,
 'MickeyMouse',
 31,
 32,
 'Mickey',
 34,
 'Mouse',
 'Mickey',
 37,
 38,
 'Mickey',
 'Mouse',
 41,
 'Mickey',
 43,
 44,
 'MickeyMouse',
 46,
 47,
 'Mickey',
 49,
 'Mouse',
 'Mickey',
 52,
 53,
 'Mickey',
 'Mouse',
 56,
 'Mickey',
 58,
 59,
 'MickeyMouse',
 61,
 62,
 'Mickey',
 64,
 'Mouse',
 'Mickey',
 67,
 68,
 'Mickey',
 'Mouse',
 71,
 'Mickey',
 73,
 74,
 'MickeyMouse',
 76,
 77,
 'Mickey',
 79,
 'Mouse',
 'Mickey',
 82,
 83,
 'Mickey',
 'Mouse',
 86,
 'Mickey',
 88,
 89,
 'MickeyMouse',
 91,
 92,
 'Mickey',
 94,
 'Mouse',
 'Mickey',
 97,
 98,
 'Mickey',
 'Mouse']

In [14]:
for i in range (100):
    if tuple[i] == "Mickey":
        tuple.remove(tuple[i])
        tuple.insert(i,"Donald")
    else:
        if tuple[i] == "Mouse":
            tuple.remove(tuple[i])
            tuple.insert(i,"Duck")
tuple

[1,
 2,
 'Donald',
 4,
 'Duck',
 'Donald',
 7,
 8,
 'Donald',
 'Duck',
 11,
 'Donald',
 13,
 14,
 'MickeyMouse',
 16,
 17,
 'Donald',
 19,
 'Duck',
 'Donald',
 22,
 23,
 'Donald',
 'Duck',
 26,
 'Donald',
 28,
 29,
 'MickeyMouse',
 31,
 32,
 'Donald',
 34,
 'Duck',
 'Donald',
 37,
 38,
 'Donald',
 'Duck',
 41,
 'Donald',
 43,
 44,
 'MickeyMouse',
 46,
 47,
 'Donald',
 49,
 'Duck',
 'Donald',
 52,
 53,
 'Donald',
 'Duck',
 56,
 'Donald',
 58,
 59,
 'MickeyMouse',
 61,
 62,
 'Donald',
 64,
 'Duck',
 'Donald',
 67,
 68,
 'Donald',
 'Duck',
 71,
 'Donald',
 73,
 74,
 'MickeyMouse',
 76,
 77,
 'Donald',
 79,
 'Duck',
 'Donald',
 82,
 83,
 'Donald',
 'Duck',
 86,
 'Donald',
 88,
 89,
 'MickeyMouse',
 91,
 92,
 'Donald',
 94,
 'Duck',
 'Donald',
 97,
 98,
 'Donald',
 'Duck']

2\. The swap function

Write a function that swap the values of two input variables x and y (whatever the type). Try to do that also without a temporary variable

In [2]:
def swap1(a,b):
    temp = a
    a = b
    b = temp
    return a,b

def swap2(a,b):
    return b,a

In [3]:
swap1(3,4)

(4, 3)

In [4]:
swap2(3,4)

(4, 3)

3\. Computing the distance

Write a function that calculates and returns the euclidean distance between two points *u* and *v*, where *u* and *v* are both 2-tuples *(x,y)*. For example, if *u=(3,0)* and *v=(0,4)*, the function should return 5

In [5]:
import math
def distance(a,b):
    distance = math.sqrt((a[0]-b[0])^2+(a[1]-b[1])^2)
    return distance

distance([1,0],[0,1])

1.4142135623730951

4\. Counting letters

Write a program to calculate the number of times each character occurs in a given string *s*. Ignore differneces in capitalization

In [6]:
import numpy
s="Write a program that prints the numbers from 1 to 100. \
But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. \
For numbers which are multiples of both three and five print MickeyMouse"

s = s.lower()
unique = []
times = []
z = 0
for i in range(len(s)):
    if not(s[i] in unique):
        unique.append(s[i])
        times.append(1)
        z = z+1
    else:
        where = unique.index(s[i])
        times[where] = times[where]+1
for i in range(z-1) :    
    print("The letter ",unique[i]," is present ",times[i]," times")

The letter  w  is present  2  times
The letter  r  is present  17  times
The letter  i  is present  14  times
The letter  t  is present  19  times
The letter  e  is present  22  times
The letter     is present  41  times
The letter  a  is present  7  times
The letter  p  is present  8  times
The letter  o  is present  13  times
The letter  g  is present  1  times
The letter  m  is present  12  times
The letter  h  is present  9  times
The letter  n  is present  10  times
The letter  s  is present  9  times
The letter  u  is present  9  times
The letter  b  is present  5  times
The letter  f  is present  10  times
The letter  1  is present  2  times
The letter  0  is present  2  times
The letter  .  is present  2  times
The letter  l  is present  6  times
The letter  c  is present  3  times
The letter  k  is present  2  times
The letter  y  is present  2  times
The letter  d  is present  3  times

5\. Isolating the unique

Write a function that determines and count the unique numbers in the list *l*

In [7]:
import numpy    
l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]
unique = []
times = []
z = 0
for i in range(len(l)):
    if not(l[i] in unique):
        unique.append(l[i])
        times.append(1)
        z = z+1
    else:
        where = unique.index(l[i])
        times[where] = times[where]+1
print ("The unique numbers in the list are ",z)
for i in range(z-1) :    
    print("The number ",unique[i]," is present ",times[i]," times")

The unique numbers in the list are  54
The number  36  is present  3  times
The number  45  is present  3  times
The number  58  is present  1  times
The number  3  is present  2  times
The number  74  is present  1  times
The number  96  is present  1  times
The number  64  is present  1  times
The number  31  is present  2  times
The number  10  is present  1  times
The number  24  is present  1  times
The number  19  is present  1  times
The number  33  is present  1  times
The number  86  is present  1  times
The number  99  is present  1  times
The number  18  is present  1  times
The number  63  is present  2  times
The number  70  is present  3  times
The number  85  is present  3  times
The number  47  is present  1  times
The number  56  is present  2  times
The number  42  is present  2  times
The number  84  is present  4  times
The number  88  is present  1  times
The number  55  is present  1  times
The number  20  is present  3  times
The number  54  is present  1  times
The number  8  is present  1  times
The number  51  is present  3  times
The number  79  is present  1  times
The number  81  is present  1  times
The number  57  is present  1  times
The number  37  is present  1  times
The number  91  is present  3  times
The number  1  is present  1  times
The number  66  is present  2  times
The number  9  is present  1  times
The number  89  is present  2  times
The number  50  is present  2  times
The number  95  is present  1  times
The number  90  is present  1  times
The number  98  is present  1  times
The number  39  is present  1  times
The number  16  is present  1  times
The number  82  is present  1  times
The number  92  is present  1  times
The number  41  is present  1  times
The number  30  is present  1  times
The number  34  is present  2  times
The number  94  is present  1  times
The number  5  is present  1  times
The number  72  is present  1  times
The number  87  is present  1  times
The number  75  is present  1  times

6\. Combination of functions

Write two functions - one that returns the square of a number, and one that returns the cube. Now write a third function that returns the number raised to the 6th power using the two previous functions.

In [8]:
def square(a):
    return a**2

def third_power(a):
    return a**3

def sixth_power(a):
    return square(third_power(a))
sixth_power(2)

64

7\. Cubes

Create a list of the cubes of x for x in *[0, 10]* using:

a) a for loop

b) a list comprehension

In [9]:
cubes1=[]
for i in range(11):
    cubes1.append(third_power(i))
print (cubes1)    

cubes2 = [third_power(x) for x in range(11)]
print (cubes2)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]
[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

8\. Nested list comprehension

A Pythagorean triple is an integer solution to the Pythagorean theorem $a^2+b^2=c^2$. The first Pythagorean triple is (3,4,5). Find and put in a tuple all unique Pythagorean triples for the positive integers a, b and c less than 100.

In [29]:
triplet = []
a = 1
b = 1
c = 1
for a in range(100):
    for b in range(100):
        for c in range(100):
            if ((c**2)==(a**2)+(b**2)) and (a>0) and (b>0) and (c>0) and (c>a) and (c>b) and (b>a):
                #the last condition, b>a, is used if we want that b>a. Otherwise, it can also be
                #removed and we have also triplets like 4,3,5 instead of onyl 3,4,5 for example
                triplet.append([a,b,c])
triplet

[[3, 4, 5],
 [5, 12, 13],
 [6, 8, 10],
 [7, 24, 25],
 [8, 15, 17],
 [9, 12, 15],
 [9, 40, 41],
 [10, 24, 26],
 [11, 60, 61],
 [12, 16, 20],
 [12, 35, 37],
 [13, 84, 85],
 [14, 48, 50],
 [15, 20, 25],
 [15, 36, 39],
 [16, 30, 34],
 [16, 63, 65],
 [18, 24, 30],
 [18, 80, 82],
 [20, 21, 29],
 [20, 48, 52],
 [21, 28, 35],
 [21, 72, 75],
 [24, 32, 40],
 [24, 45, 51],
 [24, 70, 74],
 [25, 60, 65],
 [27, 36, 45],
 [28, 45, 53],
 [30, 40, 50],
 [30, 72, 78],
 [32, 60, 68],
 [33, 44, 55],
 [33, 56, 65],
 [35, 84, 91],
 [36, 48, 60],
 [36, 77, 85],
 [39, 52, 65],
 [39, 80, 89],
 [40, 42, 58],
 [40, 75, 85],
 [42, 56, 70],
 [45, 60, 75],
 [48, 55, 73],
 [48, 64, 80],
 [51, 68, 85],
 [54, 72, 90],
 [57, 76, 95],
 [60, 63, 87],
 [65, 72, 97]]

9\. Normalization

Write a function that takes a tuple of numbers and returns it with the entries normalized to one

In [15]:
import math
import numpy as np
def normalization(a):
    s = 0
    for i in a:
        s = s + i**2
        print (s)
    return (a/math.sqrt((s)))

normalization(np.array([5,3,2]))

25
34
38

array([0.81110711, 0.48666426, 0.32444284])