1. The MickeyMouse problem

a) Write a program that prints the numbers from 1 to 100. But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. For numbers which are multiples of both three and five print MickeyMouse

b) Put the result in a tuple and substitute Mickey with Donald and Mouse with Duck

In [6]:
# (a.)
for i in range(1,101):
    if ((i%3 == 0) and (i%5 == 0)):
        print("MickeyMouse")
    elif i%3 == 0: 
        print("Mickey")
    elif i%5 == 0:
        print("Mouse")
    else:
        print(i)

1
2
Mickey
4
Mouse
Mickey
7
8
Mickey
Mouse
11
Mickey
13
14
MickeyMouse
16
17
Mickey
19
Mouse
Mickey
22
23
Mickey
Mouse
26
Mickey
28
29
MickeyMouse
31
32
Mickey
34
Mouse
Mickey
37
38
Mickey
Mouse
41
Mickey
43
44
MickeyMouse
46
47
Mickey
49
Mouse
Mickey
52
53
Mickey
Mouse
56
Mickey
58
59
MickeyMouse
61
62
Mickey
64
Mouse
Mickey
67
68
Mickey
Mouse
71
Mickey
73
74
MickeyMouse
76
77
Mickey
79
Mouse
Mickey
82
83
Mickey
Mouse
86
Mickey
88
89
MickeyMouse
91
92
Mickey
94
Mouse
Mickey
97
98
Mickey
Mouse

In [2]:
#(b.)
# put the results in a tupla and do the substitution
list = []
for i in range(1,101):
    if ((i%3 == 0) & (i%5 == 0)):
        list.append("DonaldDuck")
    elif i%3 == 0: 
        list.append("Donald")
    elif i%5 == 0:
        list.append("Duck")
    else:
        list.append(i)
print(list)

[1, 2, 'Donald', 4, 'Duck', 'Donald', 7, 8, 'Donald', 'Duck', 11, 'Donald', 13, 14, 'DonaldDuck', 16, 17, 'Donald', 19, 'Duck', 'Donald', 22, 23, 'Donald', 'Duck', 26, 'Donald', 28, 29, 'DonaldDuck', 31, 32, 'Donald', 34, 'Duck', 'Donald', 37, 38, 'Donald', 'Duck', 41, 'Donald', 43, 44, 'DonaldDuck', 46, 47, 'Donald', 49, 'Duck', 'Donald', 52, 53, 'Donald', 'Duck', 56, 'Donald', 58, 59, 'DonaldDuck', 61, 62, 'Donald', 64, 'Duck', 'Donald', 67, 68, 'Donald', 'Duck', 71, 'Donald', 73, 74, 'DonaldDuck', 76, 77, 'Donald', 79, 'Duck', 'Donald', 82, 83, 'Donald', 'Duck', 86, 'Donald', 88, 89, 'DonaldDuck', 91, 92, 'Donald', 94, 'Duck', 'Donald', 97, 98, 'Donald', 'Duck']

2\. The swap function

Write a function that swap the values of two input variables x and y (whatever the type). Try to do that also without a temporary variable

In [8]:
def swap(a,b):
    temp=b
    b=a
    a=temp
    return a,b
    

a=input("Choose a value (whatever the type)")
b=input("Choose another value (whatever the type)")
print("Before:", a,b)
a,b = swap(a,b)
print("After swapping:",a,b)

Choose a value (whatever the type)ciao
Choose another value (whatever the type)bello
Before: ciao bello
After swapping: bello ciao

3\. Computing the distance

Write a function that calculates and returns the euclidean distance between two points *u* and *v*, where *u* and *v* are both 2-tuples *(x,y)*. For example, if *u=(3,0)* and *v=(0,4)*, the function should return 5

In [5]:
import math
def euclidean_dist(u,v):
    return math.sqrt( (u[0]-v[0])**2 + (u[1]-v[1])**2 )

u=(3,0)
v=(0,4)
dist = euclidean_dist(u,v)
print(dist)

5.0

4\. Counting letters

Write a program to calculate the number of times each character occurs in a given string *s*. Ignore differneces in capitalization

In [6]:
s="Write a program that prints the numbers from 1 to 100. \
But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. \
For numbers which are multiples of both three and five print MickeyMouse"

characters = [x for x in s]
result={}
for i in range(0,len(characters)):
    char=characters[i]
    count=0
    for j in range(0,len(characters)):
        if char.upper()==characters[j] or char.lower()==characters[j]: 
            count=count+1
    result[char.upper()]=count
    
print(result)

{'W': 2, 'R': 17, 'I': 14, 'T': 19, 'E': 22, ' ': 41, 'A': 7, 'P': 8, 'O': 13, 'G': 1, 'M': 12, 'H': 9, 'N': 10, 'S': 9, 'U': 9, 'B': 5, 'F': 10, '1': 2, '0': 2, '.': 2, 'L': 6, 'C': 3, 'K': 2, 'Y': 2, 'D': 3, 'V': 2}

5\. Isolating the unique

Write a function that determines and count the unique numbers in the list *l*

In [14]:
def find_count_uniqueNumbers(l):
    result={}
    for i in range(0,len(l)):
        count=0
        n=l[i]
        for j in range(0,len(l)):
            if n==l[j]:
                count=count+1
        if count==1:
            result[n]=count
    return result,len(result)

l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]

result,length = find_count_uniqueNumbers(l)
print("Here the results (look at the keys!):",result)
print("How many are the unique numbers?",length)

Here the results (look at the keys!): {58: 1, 74: 1, 96: 1, 64: 1, 10: 1, 24: 1, 19: 1, 33: 1, 86: 1, 99: 1, 18: 1, 47: 1, 88: 1, 55: 1, 54: 1, 8: 1, 79: 1, 81: 1, 57: 1, 37: 1, 1: 1, 9: 1, 95: 1, 90: 1, 98: 1, 39: 1, 16: 1, 82: 1, 92: 1, 41: 1, 30: 1, 94: 1, 5: 1, 72: 1, 87: 1, 75: 1, 53: 1}
How many are the unique numbers? 37

6\. Combination of functions

Write two functions - one that returns the square of a number, and one that returns the cube. Now write a third function that returns the number raised to the 6th power using the two previous functions.

In [36]:
def square(n):
    return n**2

def cube(n):
    return n**3

def sixth_power(n):
    return cube(square(n))

a=float( input("Insert a value: ") )
print( "Its 6th power is:",sixth_power(a))

Insert a value: 1.5
Its 6th power is: 11.390625

7\. Cubes

Create a list of the cubes of x for x in *[0, 10]* using:

a) a for loop

b) a list comprehension

In [43]:
# (a.)
cubes=[]
for i in range(0,11):
    cubes.append(i**3)
print(cubes)

# (b.)
cubes=[x**3 for x in range(0,11)]
print(cubes)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]
[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

8\. Nested list comprehension

A Pythagorean triple is an integer solution to the Pythagorean theorem $a^2+b^2=c^2$. The first Pythagorean triple is (3,4,5). Find and put in a tuple all unique Pythagorean triples for the positive integers a, b and c less than 100.

9\. Normalization

Write a function that takes a tuple of numbers and returns it with the entries normalized to one