1. The MickeyMouse problem

a) Write a program that prints the numbers from 1 to 100. But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. For numbers which are multiples of both three and five print MickeyMouse

b) Put the result in a tuple and substitute Mickey with Donald and Mouse with Duck

In [1]:
tuple=[]
i=1
while i<=100:
    if i%3==0 and i%5==0:
        print('Mickey Mouse')
        tuple.append('Donald Duck')
    elif i%3==0:
        print('Mickey')
        tuple.append('Donald')
    elif i%5==0:
        print('Mouse')
        tuple.append('Duck')
    else:
        print(i)
        tuple.append(i)
    i+=1
    
print(tuple)

1
2
Mickey
4
Mouse
Mickey
7
8
Mickey
Mouse
11
Mickey
13
14
Mickey Mouse
16
17
Mickey
19
Mouse
Mickey
22
23
Mickey
Mouse
26
Mickey
28
29
Mickey Mouse
31
32
Mickey
34
Mouse
Mickey
37
38
Mickey
Mouse
41
Mickey
43
44
Mickey Mouse
46
47
Mickey
49
Mouse
Mickey
52
53
Mickey
Mouse
56
Mickey
58
59
Mickey Mouse
61
62
Mickey
64
Mouse
Mickey
67
68
Mickey
Mouse
71
Mickey
73
74
Mickey Mouse
76
77
Mickey
79
Mouse
Mickey
82
83
Mickey
Mouse
86
Mickey
88
89
Mickey Mouse
91
92
Mickey
94
Mouse
Mickey
97
98
Mickey
Mouse
[1, 2, 'Donald', 4, 'Duck', 'Donald', 7, 8, 'Donald', 'Duck', 11, 'Donald', 13, 14, 'Donald Duck', 16, 17, 'Donald', 19, 'Duck', 'Donald', 22, 23, 'Donald', 'Duck', 26, 'Donald', 28, 29, 'Donald Duck', 31, 32, 'Donald', 34, 'Duck', 'Donald', 37, 38, 'Donald', 'Duck', 41, 'Donald', 43, 44, 'Donald Duck', 46, 47, 'Donald', 49, 'Duck', 'Donald', 52, 53, 'Donald', 'Duck', 56, 'Donald', 58, 59, 'Donald Duck', 61, 62, 'Donald', 64, 'Duck', 'Donald', 67, 68, 'Donald', 'Duck', 71, 'Donald', 73, 74, 'Donald Duck', 76, 77, 'Donald', 79, 'Duck', 'Donald', 82, 83, 'Donald', 'Duck', 86, 'Donald', 88, 89, 'Donald Duck', 91, 92, 'Donald', 94, 'Duck', 'Donald', 97, 98, 'Donald', 'Duck']

2\. The swap function

Write a function that swap the values of two input variables x and y (whatever the type). Try to do that also without a temporary variable

In [2]:
def swap(x,y):
    print('SWAP!')
    tup=[x, y]
    tup.reverse()
    return tup

x=input('Value of x: ')
y=input('Value of y: ')

print(swap(x,y))

Value of x: 1
Value of y: 4
SWAP!
['4', '1']

3\. Computing the distance

Write a function that calculates and returns the euclidean distance between two points *u* and *v*, where *u* and *v* are both 2-tuples *(x,y)*. For example, if *u=(3,0)* and *v=(0,4)*, the function should return 5

In [3]:
u=[3,0]
v=[0,4]
def euclid(u,v):
    return ((u[0]+v[0])**2 + (u[1]+v[1])**2)**(0.5)
    
print('The euclidean distance is: %2f'% (euclid(u,v)))

The euclidean distance is: 5.000000

4\. Counting letters

Write a program to calculate the number of times each character occurs in a given string *s*. Ignore differneces in capitalization

In [4]:
s="Write a program that prints the numbers from 1 to 100. \
But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. \
For numbers which are multiples of both three and five print MickeyMouse"

s=s.lower()
x={'a':s.count('a'), 'b':s.count('b'), 'c':s.count('c'), 'd':s.count('d'), 'e':s.count('e'), 'f':s.count('f'), \
  'g':s.count('g'), 'h':s.count('h'), 'i':s.count('i'), 'j':s.count('j'), 'k':s.count('k'), 'l':s.count('l'), \
  'm':s.count('m'), 'n':s.count('n'), 'o':s.count('o'), 'p':s.count('p'), 'q':s.count('q'), 'r':s.count('r'), \
  's':s.count('s'), 't':s.count('t'), 'u':s.count('u'), 'v':s.count('v'), 'w':s.count('w'), 'x':s.count('x'), \
  'y':s.count('y'), 'z':s.count('z'), '.':s.count('.'), ',':s.count(','), ':':s.count(':'), ';':s.count(';'), \
  ' ':s.count(' '),}
print(x)

{'a': 7, 'b': 5, 'c': 3, 'd': 3, 'e': 22, 'f': 10, 'g': 1, 'h': 9, 'i': 14, 'j': 0, 'k': 2, 'l': 6, 'm': 12, 'n': 10, 'o': 13, 'p': 8, 'q': 0, 'r': 17, 's': 9, 't': 19, 'u': 9, 'v': 2, 'w': 2, 'x': 0, 'y': 2, 'z': 0, '.': 2, ',': 0, ':': 0, ';': 0, ' ': 41}

5\. Isolating the unique

Write a function that determines and count the unique numbers in the list *l*

In [17]:
l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]

def count(l):
    cnt=0
    i=0
    while i<=len(l)-1:
        a=l[i]
        j=0
        while j<=len(l)-1:
            if j==i:
                j+=1
            elif a==l[j]:
                break
            else:
                if j==len(l)-1:
                    print(a,'is unique in the list')
                    cnt+=1
            j+=1
        i+=1
    return cnt

print('Total number of unique elements in the list:', count(l))

58 is unique in the list
74 is unique in the list
96 is unique in the list
64 is unique in the list
10 is unique in the list
24 is unique in the list
19 is unique in the list
33 is unique in the list
86 is unique in the list
99 is unique in the list
18 is unique in the list
47 is unique in the list
88 is unique in the list
55 is unique in the list
54 is unique in the list
8 is unique in the list
79 is unique in the list
81 is unique in the list
57 is unique in the list
37 is unique in the list
1 is unique in the list
9 is unique in the list
95 is unique in the list
90 is unique in the list
98 is unique in the list
39 is unique in the list
16 is unique in the list
82 is unique in the list
92 is unique in the list
41 is unique in the list
30 is unique in the list
94 is unique in the list
5 is unique in the list
72 is unique in the list
87 is unique in the list
75 is unique in the list
53 is unique in the list
Total number of unique elements in the list: 37

6\. Combination of functions

Write two functions - one that returns the square of a number, and one that returns the cube. Now write a third function that returns the number raised to the 6th power using the two previous functions.

In [6]:
def square(number):
    square=number*number
    return square

def powthree(number):
    powthree=number*number*number
    return powthree

def powsix(number):
    powsix= square(powthree(number))
    return powsix

print(powsix(2))

64

7\. Cubes

Create a list of the cubes of x for x in *[0, 10]* using:

a) a for loop

b) a list comprehension

In [7]:
#a) for loop
lst=[]
for i in range(0,11):
    lst.append(i**3)
print(lst)

#b) list comprehension
lst_c=[x**3 for x in range(0,11)]

print(lst_c)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]
[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

8\. Nested list comprehension

A Pythagorean triple is an integer solution to the Pythagorean theorem $a^2+b^2=c^2$. The first Pythagorean triple is (3,4,5). Find and put in a tuple all unique Pythagorean triples for the positive integers a, b and c less than 100.

In [8]:
a,b,c=3,4,5
tup=[[a,b,c]]
for i in range(1,101):
    a+=1
    b=4
    for j in range(1,101):
        b+=1
        c=5
        for k in range(1,101):
            c+=1
            if a**2+b**2==c**2:
                tup.append([a,b,c])
            else:
                continue

print(tup)

[[3, 4, 5], [5, 12, 13], [6, 8, 10], [7, 24, 25], [8, 6, 10], [8, 15, 17], [9, 12, 15], [9, 40, 41], [10, 24, 26], [11, 60, 61], [12, 5, 13], [12, 9, 15], [12, 16, 20], [12, 35, 37], [13, 84, 85], [14, 48, 50], [15, 8, 17], [15, 20, 25], [15, 36, 39], [16, 12, 20], [16, 30, 34], [16, 63, 65], [18, 24, 30], [18, 80, 82], [20, 15, 25], [20, 21, 29], [20, 48, 52], [20, 99, 101], [21, 20, 29], [21, 28, 35], [21, 72, 75], [24, 7, 25], [24, 10, 26], [24, 18, 30], [24, 32, 40], [24, 45, 51], [24, 70, 74], [25, 60, 65], [27, 36, 45], [28, 21, 35], [28, 45, 53], [28, 96, 100], [30, 16, 34], [30, 40, 50], [30, 72, 78], [32, 24, 40], [32, 60, 68], [33, 44, 55], [33, 56, 65], [35, 12, 37], [35, 84, 91], [36, 15, 39], [36, 27, 45], [36, 48, 60], [36, 77, 85], [39, 52, 65], [39, 80, 89], [40, 9, 41], [40, 30, 50], [40, 42, 58], [40, 75, 85], [40, 96, 104], [42, 40, 58], [42, 56, 70], [44, 33, 55], [45, 24, 51], [45, 28, 53], [45, 60, 75], [48, 14, 50], [48, 20, 52], [48, 36, 60], [48, 55, 73], [48, 64, 80], [48, 90, 102], [51, 68, 85], [52, 39, 65], [54, 72, 90], [55, 48, 73], [56, 33, 65], [56, 42, 70], [57, 76, 95], [60, 11, 61], [60, 25, 65], [60, 32, 68], [60, 45, 75], [60, 63, 87], [60, 80, 100], [63, 16, 65], [63, 60, 87], [63, 84, 105], [64, 48, 80], [65, 72, 97], [68, 51, 85], [70, 24, 74], [72, 21, 75], [72, 30, 78], [72, 54, 90], [72, 65, 97], [75, 40, 85], [76, 57, 95], [77, 36, 85], [80, 18, 82], [80, 39, 89], [80, 60, 100], [84, 13, 85], [84, 35, 91], [84, 63, 105], [90, 48, 102], [96, 28, 100], [96, 40, 104], [99, 20, 101]]

9\. Normalization

Write a function that takes a tuple of numbers and returns it with the entries normalized to one

In [13]:
def norm(tup):
    #print(tup)
    tot=sum(tup)
    for i in tup:
        tup[tup.index(i)]/=tot
    return tup

t=[1,2,3]

print(norm(t))

[0.16666666666666666, 0.3333333333333333, 0.5]