# Pandas

The `numpy` module is excellent for numerical computations, but to handle missing data or arrays with mixed types takes more work. The `pandas` module is currently the most widely used tool for data manipulation, providing high-performance, easy-to-use data structures and advanced data analysis tools.

In particular `pandas` features:

* A fast and efficient "DataFrame" object for data manipulation with integrated indexing;
* Tools for reading and writing data between in-memory data structures and different formats (CSV, Excel, SQL, HDF5);
* Intelligent data alignment and integrated handling of missing data;
* Intelligent label-based slicing, fancy indexing, and subsetting of large data sets;
* Aggregating or transforming data with a powerful "group-by" engine; 
* High performance merging and joining of data sets;
* Hierarchical axis indexing provides an intuitive way of working with high-dimensional data in a lower-dimensional data structure;
* Time series-functionalities;
* Highly optimized for performance, with critical code paths written in Cython or C.

In [7]:
import pandas as pd
import numpy as np

## Series

Series are completely equivalent to 1D array but with axis labels and the possibility to store heterogeneous elements. Of paramount importance are the time-series, used to define time evolutions of a phenomenon.

In [10]:
from string import ascii_lowercase as letters

# Creating a series, accessing indexes, values and values by their index 
xs = pd.Series(np.arange(10)*0.5, index=tuple(letters[:10]))
print (xs,'\n')
print (xs.index,'\n')
# Values of the Series are actually a numpy array
print (xs.values, type(xs.values),'\n')
print (xs['f'], xs.f, xs.h, '\n')
print (xs[['d', 'f', 'h']], '\n')

a    0.0
b    0.5
c    1.0
d    1.5
e    2.0
f    2.5
g    3.0
h    3.5
i    4.0
j    4.5
dtype: float64

Index(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j'], dtype='object')

[0.  0.5 1.  1.5 2.  2.5 3.  3.5 4.  4.5] <class 'numpy.ndarray'>

2.5 2.5 3.5

d    1.5
f    2.5
h    3.5
dtype: float64

In [13]:
# Extracting elements and operations: same as numpy array
print (xs[:3],'\n')
print (xs[7:], '\n')
print (xs[::3], '\n')
print (xs[xs>3], '\n')
print (np.exp(xs), '\n')
print (np.mean(xs), np.std(xs), '\n')

a    0.0
b    0.5
c    1.0
dtype: float64

h    3.5
i    4.0
j    4.5
dtype: float64

a    0.0
d    1.5
g    3.0
j    4.5
dtype: float64

h    3.5
i    4.0
j    4.5
dtype: float64

a     1.000000
b     1.648721
c     2.718282
d     4.481689
e     7.389056
f    12.182494
g    20.085537
h    33.115452
i    54.598150
j    90.017131
dtype: float64

2.25 1.4361406616345072

In [14]:
# Series can be created from python dictionary too.
# Not that the elements can be whatever!
d = {'b' : 1, 'a' : 'cat', 'c' : [2,3]}
pd.Series(d)

b         1
a       cat
c    [2, 3]
dtype: object

A key difference between Series and ndarray is that operations between Series automatically align the data based on label. Thus, you can write computations without giving consideration to whether the Series involved have the same labels.

In [15]:
s = pd.Series(np.random.randn(5), index=tuple(letters[:5]))
s[1:] + s[:-1]

a         NaN
b    1.704016
c   -1.192749
d    1.142012
e         NaN
dtype: float64

### Time series

Time series are very often used to profile the behaviour of a quantity as a function of time. Pandas as a special index for that, `DatetimeIndex`, that can be created e.g. with the function `pd.data_range()`

In [16]:
# to define a date, the datetime module is very useful
import datetime as dt
date = dt.date.today()
date = dt.datetime(2018,11,19,14,45,10,15)
print (date)

# otherwise, several notations are interpreted too
date = 'Nov 19 2018'
date = '19/11/2018 14:45:00'
print (date)

days = pd.date_range(date, periods=7, freq='D')
print (days)

seconds = pd.date_range(date, periods=3600, freq='s')
print (seconds)

2018-11-19 14:45:10.000015
19/11/2018 14:45:00
DatetimeIndex(['2018-11-19 14:45:00', '2018-11-20 14:45:00',
               '2018-11-21 14:45:00', '2018-11-22 14:45:00',
               '2018-11-23 14:45:00', '2018-11-24 14:45:00',
               '2018-11-25 14:45:00'],
              dtype='datetime64[ns]', freq='D')
DatetimeIndex(['2018-11-19 14:45:00', '2018-11-19 14:45:01',
               '2018-11-19 14:45:02', '2018-11-19 14:45:03',
               '2018-11-19 14:45:04', '2018-11-19 14:45:05',
               '2018-11-19 14:45:06', '2018-11-19 14:45:07',
               '2018-11-19 14:45:08', '2018-11-19 14:45:09',
               ...
               '2018-11-19 15:44:50', '2018-11-19 15:44:51',
               '2018-11-19 15:44:52', '2018-11-19 15:44:53',
               '2018-11-19 15:44:54', '2018-11-19 15:44:55',
               '2018-11-19 15:44:56', '2018-11-19 15:44:57',
               '2018-11-19 15:44:58', '2018-11-19 15:44:59'],
              dtype='datetime64[ns]', length=3600, freq='S')

To learn more about the frequency strings, please see this [link](http://pandas.pydata.org/pandas-docs/stable/timeseries.html#offset-aliases)


Timestamped data is the most basic type of time series data that associates values with points in time. For pandas objects it means using the points in time.

functions like `pd.to_datetime` can be used, for instance, when reading information as string from a dataset

In [19]:
tstamp = pd.Timestamp(dt.datetime(2018, 11, 19))

# internally it counts the nanoseconds from January 1st 19
#tstamp = pd.Timestamp(dt.datetime(1970, 1, 1, 0, 0, 0, 1))
print(tstamp.value)

# when creating a timestamp the format can be explicitly passed
print (pd.to_datetime('2010/11/12', format='%Y/%m/%d'))
print (pd.to_datetime('12-11-2010 00:00', format='%d-%m-%Y %H:%M'))

1542585600000000000
2010-11-12 00:00:00
2010-11-12 00:00:00

A standard series can be created and (range of) elements can be used as indexes

In [21]:
tseries = pd.Series(np.random.normal(10, 1, len(days)), index=days)
# Extracting elements
print (tseries[0:4], '\n')
print (tseries['2018-11-19':'2018-11-21'], '\n') # Note - includes end time

2018-11-19 14:45:00    11.716667
2018-11-20 14:45:00     9.576619
2018-11-21 14:45:00     7.725097
2018-11-22 14:45:00    10.750772
Freq: D, dtype: float64

2018-11-19 14:45:00    11.716667
2018-11-20 14:45:00     9.576619
2018-11-21 14:45:00     7.725097
Freq: D, dtype: float64

`pd.to_datetime` can also be used to create a `DatetimeIndex`:

In [22]:
pd.to_datetime([1, 2, 3], unit='D', origin=pd.Timestamp('1980-02-03'))

DatetimeIndex(['1980-02-04', '1980-02-05', '1980-02-06'], dtype='datetime64[ns]', freq=None)

## DataFrame

A pandas DataFrame is like a simple tabular spreadsheet. For future reference (or for people already familiar with R), a pandas DataFrame is very similar to the R DataFrame.

Each column in a DataFrame is a Series object.

The element can be whatever, missing data are dealt with too (as NaN)

### DataFrame creation

A DataFrame can be created implicitly, with, e.g., a DatatimeIndex object as index:

In [134]:
entries=10
dates=pd.date_range('19/11/2018 14:45:00',freq='h', periods=entries)
df = pd.DataFrame(np.random.randn(entries,4), index=dates, columns=['A','B','C','D'])
df

                            A         B         C         D
2018-11-19 14:45:00  0.882970  0.862720 -1.690897 -0.921666
2018-11-19 15:45:00 -1.772303 -0.689657  0.520586 -0.851980
2018-11-19 16:45:00 -0.227454 -0.063902 -1.522199 -0.632831
2018-11-19 17:45:00 -0.734955 -0.006692 -0.064827  1.001783
2018-11-19 18:45:00  1.272062 -0.245687  1.566810 -0.074086
2018-11-19 19:45:00  1.967186  1.426814  1.406454  0.685754
2018-11-19 20:45:00  1.793176 -0.674471 -1.911167  1.016162
2018-11-19 21:45:00  0.791704 -0.762078 -0.214632 -0.707167
2018-11-19 22:45:00  1.508942 -0.058580 -0.067687 -0.962061
2018-11-19 23:45:00 -0.595458 -0.079322 -0.076368 -0.096450

or by means of a dictionary:

In [135]:
df2 = pd.DataFrame(
    { 'A' : 1.,
      'B' : pd.Timestamp('20130102'),
      'C' : pd.Series(1,index=range(4),dtype='float32'),
      'D' : np.arange(7,11),
      'E' : pd.Categorical(["test","train","test","train"]),
    }
    )

In [136]:
df2

     A          B    C   D      E
0  1.0 2013-01-02  1.0   7   test
1  1.0 2013-01-02  1.0   8  train
2  1.0 2013-01-02  1.0   9   test
3  1.0 2013-01-02  1.0  10  train

### Viewing Data

In [137]:
df.head()

                            A         B         C         D
2018-11-19 14:45:00  0.882970  0.862720 -1.690897 -0.921666
2018-11-19 15:45:00 -1.772303 -0.689657  0.520586 -0.851980
2018-11-19 16:45:00 -0.227454 -0.063902 -1.522199 -0.632831
2018-11-19 17:45:00 -0.734955 -0.006692 -0.064827  1.001783
2018-11-19 18:45:00  1.272062 -0.245687  1.566810 -0.074086

In [138]:
df.tail(4)

                            A         B         C         D
2018-11-19 20:45:00  1.793176 -0.674471 -1.911167  1.016162
2018-11-19 21:45:00  0.791704 -0.762078 -0.214632 -0.707167
2018-11-19 22:45:00  1.508942 -0.058580 -0.067687 -0.962061
2018-11-19 23:45:00 -0.595458 -0.079322 -0.076368 -0.096450

In [139]:
df.index

DatetimeIndex(['2018-11-19 14:45:00', '2018-11-19 15:45:00',
               '2018-11-19 16:45:00', '2018-11-19 17:45:00',
               '2018-11-19 18:45:00', '2018-11-19 19:45:00',
               '2018-11-19 20:45:00', '2018-11-19 21:45:00',
               '2018-11-19 22:45:00', '2018-11-19 23:45:00'],
              dtype='datetime64[ns]', freq='H')

In [140]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [141]:
df.values

array([[ 0.88297001,  0.86272008, -1.69089739, -0.92166552],
       [-1.77230256, -0.689657  ,  0.52058568, -0.85197973],
       [-0.22745429, -0.06390207, -1.52219931, -0.63283111],
       [-0.73495513, -0.00669237, -0.06482677,  1.0017831 ],
       [ 1.27206153, -0.2456871 ,  1.56681036, -0.07408618],
       [ 1.9671861 ,  1.42681441,  1.40645446,  0.68575422],
       [ 1.79317587, -0.67447087, -1.91116695,  1.01616218],
       [ 0.79170438, -0.76207834, -0.2146317 , -0.707167  ],
       [ 1.50894247, -0.05858047, -0.06768704, -0.9620607 ],
       [-0.59545829, -0.07932163, -0.07636777, -0.09644979]])

In [142]:
df.describe()

               A          B          C          D
count  10.000000  10.000000  10.000000  10.000000
mean    0.488587  -0.029086  -0.205393  -0.154254
std     1.251094   0.695792   1.209758   0.794755
min    -1.772303  -0.762078  -1.911167  -0.962061
25%    -0.503457  -0.567275  -1.195307  -0.815777
50%     0.837337  -0.071612  -0.072027  -0.364640
75%     1.449722  -0.019664   0.374233   0.495794
max     1.967186   1.426814   1.566810   1.016162

In [143]:
df.T

,2018-11-19 14:45:00,2018-11-19 15:45:00,2018-11-19 16:45:00,2018-11-19 17:45:00,2018-11-19 18:45:00,2018-11-19 19:45:00,2018-11-19 20:45:00,2018-11-19 21:45:00,2018-11-19 22:45:00,2018-11-19 23:45:00
A,0.882970,-1.772303,-0.227454,-0.734955,1.272062,1.967186,1.793176,0.791704,1.508942,-0.595458
B,0.862720,-0.689657,-0.063902,-0.006692,-0.245687,1.426814,-0.674471,-0.762078,-0.058580,-0.079322
C,-1.690897,0.520586,-1.522199,-0.064827,1.566810,1.406454,-1.911167,-0.214632,-0.067687,-0.076368
D,-0.921666,-0.851980,-0.632831,1.001783,-0.074086,0.685754,1.016162,-0.707167,-0.962061,-0.096450

In [144]:
df.sort_index(axis=1,ascending=False)

                            D         C         B         A
2018-11-19 14:45:00 -0.921666 -1.690897  0.862720  0.882970
2018-11-19 15:45:00 -0.851980  0.520586 -0.689657 -1.772303
2018-11-19 16:45:00 -0.632831 -1.522199 -0.063902 -0.227454
2018-11-19 17:45:00  1.001783 -0.064827 -0.006692 -0.734955
2018-11-19 18:45:00 -0.074086  1.566810 -0.245687  1.272062
2018-11-19 19:45:00  0.685754  1.406454  1.426814  1.967186
2018-11-19 20:45:00  1.016162 -1.911167 -0.674471  1.793176
2018-11-19 21:45:00 -0.707167 -0.214632 -0.762078  0.791704
2018-11-19 22:45:00 -0.962061 -0.067687 -0.058580  1.508942
2018-11-19 23:45:00 -0.096450 -0.076368 -0.079322 -0.595458

In [145]:
df.sort_values(by="C")

                            A         B         C         D
2018-11-19 20:45:00  1.793176 -0.674471 -1.911167  1.016162
2018-11-19 14:45:00  0.882970  0.862720 -1.690897 -0.921666
2018-11-19 16:45:00 -0.227454 -0.063902 -1.522199 -0.632831
2018-11-19 21:45:00  0.791704 -0.762078 -0.214632 -0.707167
2018-11-19 23:45:00 -0.595458 -0.079322 -0.076368 -0.096450
2018-11-19 22:45:00  1.508942 -0.058580 -0.067687 -0.962061
2018-11-19 17:45:00 -0.734955 -0.006692 -0.064827  1.001783
2018-11-19 15:45:00 -1.772303 -0.689657  0.520586 -0.851980
2018-11-19 19:45:00  1.967186  1.426814  1.406454  0.685754
2018-11-19 18:45:00  1.272062 -0.245687  1.566810 -0.074086

## Selection

### Getting slices

The following show how to get part of the DataFrame (i.e. not just the elements)

In [146]:
## standard and safe
print (df['A'],'\n')

## equivalent but dangerous (imagine blank spaces in the name of the column..)
print (df.A)

2018-11-19 14:45:00    0.882970
2018-11-19 15:45:00   -1.772303
2018-11-19 16:45:00   -0.227454
2018-11-19 17:45:00   -0.734955
2018-11-19 18:45:00    1.272062
2018-11-19 19:45:00    1.967186
2018-11-19 20:45:00    1.793176
2018-11-19 21:45:00    0.791704
2018-11-19 22:45:00    1.508942
2018-11-19 23:45:00   -0.595458
Freq: H, Name: A, dtype: float64

2018-11-19 14:45:00    0.882970
2018-11-19 15:45:00   -1.772303
2018-11-19 16:45:00   -0.227454
2018-11-19 17:45:00   -0.734955
2018-11-19 18:45:00    1.272062
2018-11-19 19:45:00    1.967186
2018-11-19 20:45:00    1.793176
2018-11-19 21:45:00    0.791704
2018-11-19 22:45:00    1.508942
2018-11-19 23:45:00   -0.595458
Freq: H, Name: A, dtype: float64

In [147]:
# selecting rows by counting
print (df[0:3])

# or by index
print (df["2018-11-19 14:45:00":"2018-11-19 16:45:00"])

                            A         B         C         D
2018-11-19 14:45:00  0.882970  0.862720 -1.690897 -0.921666
2018-11-19 15:45:00 -1.772303 -0.689657  0.520586 -0.851980
2018-11-19 16:45:00 -0.227454 -0.063902 -1.522199 -0.632831
                            A         B         C         D
2018-11-19 14:45:00  0.882970  0.862720 -1.690897 -0.921666
2018-11-19 15:45:00 -1.772303 -0.689657  0.520586 -0.851980
2018-11-19 16:45:00 -0.227454 -0.063902 -1.522199 -0.632831

### Selection by label

In [190]:
# getting a cross section (part of the DataFrame) using a label
df.loc[dates[0]]

A          0.000000
B          0.862720
C         -1.690897
D          5.000000
E          0.000000
E prime    0.000000
cosine     1.000000
Name: 2018-11-19 14:45:00, dtype: float64

In [191]:
# selecting on a multi-axis by label:
df.loc[:,['A','B']]

                            A         B
2018-11-19 14:45:00  0.000000  0.862720
2018-11-19 15:45:00 -1.772303  0.173063
2018-11-19 16:45:00 -1.999757  0.109161
2018-11-19 17:45:00 -2.734712  0.102469
2018-11-19 18:45:00 -1.462650 -0.143218
2018-11-19 19:45:00  0.504536  1.283596
2018-11-19 20:45:00  2.297712  0.609125
2018-11-19 21:45:00  3.089416 -0.152953
2018-11-19 22:45:00  4.598358 -0.211534
2018-11-19 23:45:00  4.002900 -0.290855

In [150]:
# showing label slicing, both endpoints are included:
df.loc['2018-11-19 18:45:00':'2018-11-19 20:45:00',['A','B']]

                            A         B
2018-11-19 18:45:00  1.272062 -0.245687
2018-11-19 19:45:00  1.967186  1.426814
2018-11-19 20:45:00  1.793176 -0.674471

In [151]:
# getting an individual element
print (df.loc[dates[1],'A'])

# equivalently
print (df.at[dates[1],'A'])

-1.7723025559426313
-1.7723025559426313

### Selecting by position

In [152]:
# select via the position of the passed integers:
print (df.iloc[3],'\n')

# notation similar to numpy/python
print (df.iloc[3:5,0:2])

A   -0.734955
B   -0.006692
C   -0.064827
D    1.001783
Name: 2018-11-19 17:45:00, dtype: float64

                            A         B
2018-11-19 17:45:00 -0.734955 -0.006692
2018-11-19 18:45:00  1.272062 -0.245687

In [153]:
# selecting raws 1,2 and 4 for columns 0 and 2
df.iloc[[1,2,4],[0,2]]

                            A         C
2018-11-19 15:45:00 -1.772303  0.520586
2018-11-19 16:45:00 -0.227454 -1.522199
2018-11-19 18:45:00  1.272062  1.566810

In [154]:
# slicing rows explicitly
print (df.iloc[1:3,:],'\n')

# slicing columns explicitly
print (df.iloc[:,1:3])

                            A         B         C         D
2018-11-19 15:45:00 -1.772303 -0.689657  0.520586 -0.851980
2018-11-19 16:45:00 -0.227454 -0.063902 -1.522199 -0.632831

                            B         C
2018-11-19 14:45:00  0.862720 -1.690897
2018-11-19 15:45:00 -0.689657  0.520586
2018-11-19 16:45:00 -0.063902 -1.522199
2018-11-19 17:45:00 -0.006692 -0.064827
2018-11-19 18:45:00 -0.245687  1.566810
2018-11-19 19:45:00  1.426814  1.406454
2018-11-19 20:45:00 -0.674471 -1.911167
2018-11-19 21:45:00 -0.762078 -0.214632
2018-11-19 22:45:00 -0.058580 -0.067687
2018-11-19 23:45:00 -0.079322 -0.076368

In [155]:
# selecting an individual element by position
df.iloc[1,1]
df.iat[1,1]

-0.6896569967265541

### Boolean index

Very powerful way of filtering out data with certain features. Notation is very similar to numpy arrays.

In [156]:
# Filter by a boolean condition on the values of a single column
df[df['B'] > 0]

                            A         B         C         D
2018-11-19 14:45:00  0.882970  0.862720 -1.690897 -0.921666
2018-11-19 19:45:00  1.967186  1.426814  1.406454  0.685754

In [157]:
# Selecting on the basis of boolean conditions applied to the whole DataFrame
df[df>0]

# a DataFrame with the same shape is returned, with NaN's where condition is not met

                            A         B         C         D
2018-11-19 14:45:00  0.882970  0.862720       NaN       NaN
2018-11-19 15:45:00       NaN       NaN  0.520586       NaN
2018-11-19 16:45:00       NaN       NaN       NaN       NaN
2018-11-19 17:45:00       NaN       NaN       NaN  1.001783
2018-11-19 18:45:00  1.272062       NaN  1.566810       NaN
2018-11-19 19:45:00  1.967186  1.426814  1.406454  0.685754
2018-11-19 20:45:00  1.793176       NaN       NaN  1.016162
2018-11-19 21:45:00  0.791704       NaN       NaN       NaN
2018-11-19 22:45:00  1.508942       NaN       NaN       NaN
2018-11-19 23:45:00       NaN       NaN       NaN       NaN

### Setting

Combination of selection and setting of values

In [158]:
# setting values by label (same as by position)
df.at[dates[0],'A'] = 0

# setting and assigning a numpy array
df.loc[:,'D'] = np.array([5] * len(df))

# defining a brend new column
df['E'] = np.arange(len(df))*0.5

# defining a brend new column by means of a pd.Series: indexes must be the same!
df['E prime'] = pd.Series(np.arange(len(df))*2, index=df.index)

In [159]:
def dcos(theta):
    theta = theta*(np.pi/180)
    return np.cos(theta)
 
df['cosine'] = pd.Series(df["E"].apply(dcos), index=df.index)
df

                            A         B         C  D    E  E prime    cosine
2018-11-19 14:45:00  0.000000  0.862720 -1.690897  5  0.0        0  1.000000
2018-11-19 15:45:00 -1.772303 -0.689657  0.520586  5  0.5        2  0.999962
2018-11-19 16:45:00 -0.227454 -0.063902 -1.522199  5  1.0        4  0.999848
2018-11-19 17:45:00 -0.734955 -0.006692 -0.064827  5  1.5        6  0.999657
2018-11-19 18:45:00  1.272062 -0.245687  1.566810  5  2.0        8  0.999391
2018-11-19 19:45:00  1.967186  1.426814  1.406454  5  2.5       10  0.999048
2018-11-19 20:45:00  1.793176 -0.674471 -1.911167  5  3.0       12  0.998630
2018-11-19 21:45:00  0.791704 -0.762078 -0.214632  5  3.5       14  0.998135
2018-11-19 22:45:00  1.508942 -0.058580 -0.067687  5  4.0       16  0.997564
2018-11-19 23:45:00 -0.595458 -0.079322 -0.076368  5  4.5       18  0.996917

In [160]:
# another example of global setting
df2=df.copy()
df2[df2>0] = -df2
df2

                            A         B         C  D    E  E prime    cosine
2018-11-19 14:45:00  0.000000 -0.862720 -1.690897 -5  0.0        0 -1.000000
2018-11-19 15:45:00 -1.772303 -0.689657 -0.520586 -5 -0.5       -2 -0.999962
2018-11-19 16:45:00 -0.227454 -0.063902 -1.522199 -5 -1.0       -4 -0.999848
2018-11-19 17:45:00 -0.734955 -0.006692 -0.064827 -5 -1.5       -6 -0.999657
2018-11-19 18:45:00 -1.272062 -0.245687 -1.566810 -5 -2.0       -8 -0.999391
2018-11-19 19:45:00 -1.967186 -1.426814 -1.406454 -5 -2.5      -10 -0.999048
2018-11-19 20:45:00 -1.793176 -0.674471 -1.911167 -5 -3.0      -12 -0.998630
2018-11-19 21:45:00 -0.791704 -0.762078 -0.214632 -5 -3.5      -14 -0.998135
2018-11-19 22:45:00 -1.508942 -0.058580 -0.067687 -5 -4.0      -16 -0.997564
2018-11-19 23:45:00 -0.595458 -0.079322 -0.076368 -5 -4.5      -18 -0.996917

### Dropping

N.B.: dropping doesn't act permanently on the DataFrame, i.e. to get that do :
```python
df = df.drop(....)
```

In [192]:
# Dropping by column
df.drop(['E prime'], axis=1)

#which is equivalent to
df.drop(columns=['E prime'])

                            A         B         C     D     E    cosine
2018-11-19 14:45:00  0.000000  0.862720 -1.690897   5.0   0.0  1.000000
2018-11-19 15:45:00 -1.772303  0.173063 -1.170312  10.0   0.5  1.999962
2018-11-19 16:45:00 -1.999757  0.109161 -2.692511  15.0   1.5  2.999810
2018-11-19 17:45:00 -2.734712  0.102469 -2.757338  20.0   3.0  3.999467
2018-11-19 18:45:00 -1.462650 -0.143218 -1.190527  25.0   5.0  4.998858
2018-11-19 19:45:00  0.504536  1.283596  0.215927  30.0   7.5  5.997906
2018-11-19 20:45:00  2.297712  0.609125 -1.695240  35.0  10.5  6.996536
2018-11-19 21:45:00  3.089416 -0.152953 -1.909872  40.0  14.0  7.994670
2018-11-19 22:45:00  4.598358 -0.211534 -1.977559  45.0  18.0  8.992234
2018-11-19 23:45:00  4.002900 -0.290855 -2.053926  50.0  22.5  9.989152

In [193]:
# Dropping by raws
# save and always working
df.drop(df.index[[1,2,3,4]])

,A,B,C,D,E,E prime,cosine
2018-11-19 14:45:00,0.000000,0.862720,-1.690897,5.0,0.0,0.0,1.000000
2018-11-19 19:45:00,0.504536,1.283596,0.215927,30.0,7.5,30.0,5.997906
2018-11-19 20:45:00,2.297712,0.609125,-1.695240,35.0,10.5,42.0,6.996536
2018-11-19 21:45:00,3.089416,-0.152953,-1.909872,40.0,14.0,56.0,7.994670
2018-11-19 22:45:00,4.598358,-0.211534,-1.977559,45.0,18.0,72.0,8.992234
2018-11-19 23:45:00,4.002900,-0.290855,-2.053926,50.0,22.5,90.0,9.989152

In [163]:
# something like df.drop('index_name') 
# would work but the type of index must be specificed, 
# in particular with DatetimeIndex
df.drop(pd.to_datetime("2018-11-19 22:45:00"))

                            A         B         C  D    E  E prime    cosine
2018-11-19 14:45:00  0.000000  0.862720 -1.690897  5  0.0        0  1.000000
2018-11-19 15:45:00 -1.772303 -0.689657  0.520586  5  0.5        2  0.999962
2018-11-19 16:45:00 -0.227454 -0.063902 -1.522199  5  1.0        4  0.999848
2018-11-19 17:45:00 -0.734955 -0.006692 -0.064827  5  1.5        6  0.999657
2018-11-19 18:45:00  1.272062 -0.245687  1.566810  5  2.0        8  0.999391
2018-11-19 19:45:00  1.967186  1.426814  1.406454  5  2.5       10  0.999048
2018-11-19 20:45:00  1.793176 -0.674471 -1.911167  5  3.0       12  0.998630
2018-11-19 21:45:00  0.791704 -0.762078 -0.214632  5  3.5       14  0.998135
2018-11-19 23:45:00 -0.595458 -0.079322 -0.076368  5  4.5       18  0.996917

## Missing data

pandas primarily uses the value np.nan to represent missing data. It is by default not included in computations.

In [164]:
df_wNan = df[df>0]
df_wNan

                            A         B         C  D    E  E prime    cosine
2018-11-19 14:45:00       NaN  0.862720       NaN  5  NaN      NaN  1.000000
2018-11-19 15:45:00       NaN       NaN  0.520586  5  0.5      2.0  0.999962
2018-11-19 16:45:00       NaN       NaN       NaN  5  1.0      4.0  0.999848
2018-11-19 17:45:00       NaN       NaN       NaN  5  1.5      6.0  0.999657
2018-11-19 18:45:00  1.272062       NaN  1.566810  5  2.0      8.0  0.999391
2018-11-19 19:45:00  1.967186  1.426814  1.406454  5  2.5     10.0  0.999048
2018-11-19 20:45:00  1.793176       NaN       NaN  5  3.0     12.0  0.998630
2018-11-19 21:45:00  0.791704       NaN       NaN  5  3.5     14.0  0.998135
2018-11-19 22:45:00  1.508942       NaN       NaN  5  4.0     16.0  0.997564
2018-11-19 23:45:00       NaN       NaN       NaN  5  4.5     18.0  0.996917

In [194]:
# dropping raws with at least a Nan
df_wNan.dropna(how='any')

                            A         B         C  D    E  E prime    cosine
2018-11-19 19:45:00  1.967186  1.426814  1.406454  5  2.5     10.0  0.999048

In [197]:
# getting a mask
df_wNan.isna()
#df_wNan.notna()

                         A      B      C      D      E  E prime  cosine
2018-11-19 14:45:00   True  False   True  False   True     True   False
2018-11-19 15:45:00   True   True  False  False  False    False   False
2018-11-19 16:45:00   True   True   True  False  False    False   False
2018-11-19 17:45:00   True   True   True  False  False    False   False
2018-11-19 18:45:00  False   True  False  False  False    False   False
2018-11-19 19:45:00  False  False  False  False  False    False   False
2018-11-19 20:45:00  False   True   True  False  False    False   False
2018-11-19 21:45:00  False   True   True  False  False    False   False
2018-11-19 22:45:00  False   True   True  False  False    False   False
2018-11-19 23:45:00   True   True   True  False  False    False   False

In [167]:
# filling missing data
df_wNan.fillna(value=0)

                            A         B         C  D    E  E prime    cosine
2018-11-19 14:45:00  0.000000  0.862720  0.000000  5  0.0      0.0  1.000000
2018-11-19 15:45:00  0.000000  0.000000  0.520586  5  0.5      2.0  0.999962
2018-11-19 16:45:00  0.000000  0.000000  0.000000  5  1.0      4.0  0.999848
2018-11-19 17:45:00  0.000000  0.000000  0.000000  5  1.5      6.0  0.999657
2018-11-19 18:45:00  1.272062  0.000000  1.566810  5  2.0      8.0  0.999391
2018-11-19 19:45:00  1.967186  1.426814  1.406454  5  2.5     10.0  0.999048
2018-11-19 20:45:00  1.793176  0.000000  0.000000  5  3.0     12.0  0.998630
2018-11-19 21:45:00  0.791704  0.000000  0.000000  5  3.5     14.0  0.998135
2018-11-19 22:45:00  1.508942  0.000000  0.000000  5  4.0     16.0  0.997564
2018-11-19 23:45:00  0.000000  0.000000  0.000000  5  4.5     18.0  0.996917

Fill gaps forward or backward by propagating non-NA values forward or backward:

In [196]:
df_wNan.fillna(method='pad')

                            A         B         C  D    E  E prime    cosine
2018-11-19 14:45:00       NaN  0.862720       NaN  5  NaN      NaN  1.000000
2018-11-19 15:45:00       NaN  0.862720  0.520586  5  0.5      2.0  0.999962
2018-11-19 16:45:00       NaN  0.862720  0.520586  5  1.0      4.0  0.999848
2018-11-19 17:45:00       NaN  0.862720  0.520586  5  1.5      6.0  0.999657
2018-11-19 18:45:00  1.272062  0.862720  1.566810  5  2.0      8.0  0.999391
2018-11-19 19:45:00  1.967186  1.426814  1.406454  5  2.5     10.0  0.999048
2018-11-19 20:45:00  1.793176  1.426814  1.406454  5  3.0     12.0  0.998630
2018-11-19 21:45:00  0.791704  1.426814  1.406454  5  3.5     14.0  0.998135
2018-11-19 22:45:00  1.508942  1.426814  1.406454  5  4.0     16.0  0.997564
2018-11-19 23:45:00  1.508942  1.426814  1.406454  5  4.5     18.0  0.996917

## Operations

Here comes the most relevant advantage of DataFrame. Operations on columns are extremly fast, almost as fast as the actual operation between elements in a raw

In [169]:
# Some statistics (mean() just as an example)
# raws
print (df.mean(axis=0),'\n')
# columns
print (df.mean(axis=1),'\n')

A          0.400290
B         -0.029086
C         -0.205393
D          5.000000
E          2.250000
E prime    9.000000
cosine     0.998915
dtype: float64

2018-11-19 14:45:00    0.738832
2018-11-19 15:45:00    0.936941
2018-11-19 16:45:00    1.312327
2018-11-19 17:45:00    1.813312
2018-11-19 18:45:00    2.656082
2018-11-19 19:45:00    3.328500
2018-11-19 20:45:00    2.886595
2018-11-19 21:45:00    3.330447
2018-11-19 22:45:00    3.911463
2018-11-19 23:45:00    3.963681
Freq: H, dtype: float64

In [170]:
# global operations on columns
df.apply(np.cumsum)

                            A         B         C   D     E  E prime    cosine
2018-11-19 14:45:00  0.000000  0.862720 -1.690897   5   0.0        0  1.000000
2018-11-19 15:45:00 -1.772303  0.173063 -1.170312  10   0.5        2  1.999962
2018-11-19 16:45:00 -1.999757  0.109161 -2.692511  15   1.5        6  2.999810
2018-11-19 17:45:00 -2.734712  0.102469 -2.757338  20   3.0       12  3.999467
2018-11-19 18:45:00 -1.462650 -0.143218 -1.190527  25   5.0       20  4.998858
2018-11-19 19:45:00  0.504536  1.283596  0.215927  30   7.5       30  5.997906
2018-11-19 20:45:00  2.297712  0.609125 -1.695240  35  10.5       42  6.996536
2018-11-19 21:45:00  3.089416 -0.152953 -1.909872  40  14.0       56  7.994670
2018-11-19 22:45:00  4.598358 -0.211534 -1.977559  45  18.0       72  8.992234
2018-11-19 23:45:00  4.002900 -0.290855 -2.053926  50  22.5       90  9.989152

In [171]:
df.apply(lambda x: x.max() - x.min())

A           3.739489
B           2.188893
C           3.477977
D           0.000000
E           4.500000
E prime    18.000000
cosine      0.003083
dtype: float64

In [172]:
# syntax is as usual similar to that of numpy arrays
df['A']+df['B']

2018-11-19 14:45:00    0.862720
2018-11-19 15:45:00   -2.461960
2018-11-19 16:45:00   -0.291356
2018-11-19 17:45:00   -0.741647
2018-11-19 18:45:00    1.026374
2018-11-19 19:45:00    3.394001
2018-11-19 20:45:00    1.118705
2018-11-19 21:45:00    0.029626
2018-11-19 22:45:00    1.450362
2018-11-19 23:45:00   -0.674780
Freq: H, dtype: float64

Let's play it hard and load (in memory) a (relatively) large dataset

In [199]:
file_name="raw_data/data_000637.txt"
data=pd.read_csv(file_name)
data

         HEAD  FPGA  TDC_CHANNEL   ORBIT_CNT  BX_COUNTER  TDC_MEAS
0           1     0          123  3869200167        2374        26
1           1     0          124  3869200167        2374        27
2           1     0           63  3869200167        2553        28
3           1     0           64  3869200167        2558        19
4           1     0           64  3869200167        2760        25
5           1     0           63  3869200167        2762         4
6           1     0           61  3869200167        2772        14
7           1     0          139  3869200167        2776         0
8           1     0           62  3869200167        2774        21
9           1     0           60  3869200167        2788         7
10          1     1            7  3869200167        2785         4
11          1     0           64  3869200167        2786        19
12          1     1            6  3869200167        2792        18
13          1     0           36  3869200167        2791        23
14          1     0           56  3869200167        2789         3
15          1     1          139  3869200167        2797         0
16          1     1            8  3869200167        2787        14
17          1     0           63  3869200167        2790        10
18          1     1            5  3869200167        2795         4
19          1     0           53  3869200167        2796        26
20          1     1           10  3869200167        2789        14
21          1     0           57  3869200167        2789        10
22          1     0           61  3869200167        2790        23
23          1     0           38  3869200167        2799        15
24          1     0           58  3869200167        2795        19
25          1     0           62  3869200167        2797        14
26          1     0           59  3869200167        2799        14
27          1     0           59  3869200167        3081        21
28          1     0           61  3869200167        3081         1
29          1     0           60  3869200167        3083        20
...       ...   ...          ...         ...         ...       ...
1310690     1     1            1  3869211170        3517         5
1310691     1     0           56  3869211170        3516        21
1310692     1     1            8  3869211170        3516         7
1310693     1     0           58  3869211170        3521        14
1310694     1     1           12  3869211170        3524        15
1310695     1     1            2  3869211170        3527        24
1310696     1     0           63  3869211170        3526         2
1310697     1     1           10  3869211170        3525         3
1310698     1     0           60  3869211171           9         9
1310699     1     0           25  3869211171          11        28
1310700     1     0           28  3869211171           9        26
1310701     1     0          139  3869211171          21         0
1310702     1     0           27  3869211171          18        17
1310703     1     0           25  3869211171          20        13
1310704     1     0           26  3869211171          19        15
1310705     1     0           94  3869211171          43        22
1310706     1     0           28  3869211171          44        29
1310707     1     0           57  3869211171         137        29
1310708     1     0          124  3869211171         199         9
1310709     1     1           38  3869211171         417         8
1310710     1     1           36  3869211171         427        13
1310711     1     1           39  3869211171         430         0
1310712     1     1           35  3869211171         429         4
1310713     1     0           64  3869211171         758        18
1310714     1     0           60  3869211171         762         2
1310715     1     0           62  3869211171         762        14
1310716     1     1            4  3869211171         763        11
1310717     1     0           64  3869211171         764         0
1310718     1     0          139  3869211171         769         0
1310719     1     0           61  3869211171         762        18

[1310720 rows x 6 columns]

Let's know do some operations among (elements of) columns

In [200]:
# the one-liner killing it all
data['timens']=data['TDC_MEAS']*25/30+data['BX_COUNTER']*25

In [201]:
# the old slooow way
def conversion(data):
    result=[]
    for i in range(len(data)): 
        result.append(data.loc[data.index[i],'TDC_MEAS']*25/30.+data.loc[data.index[i],'BX_COUNTER']*25)
    return result

data['timens']=conversion(data)

In [202]:
data

,HEAD,FPGA,TDC_CHANNEL,ORBIT_CNT,BX_COUNTER,TDC_MEAS,timens
0,1,0,123,3869200167,2374,26,59371.666667
1,1,0,124,3869200167,2374,27,59372.500000
2,1,0,63,3869200167,2553,28,63848.333333
3,1,0,64,3869200167,2558,19,63965.833333
4,1,0,64,3869200167,2760,25,69020.833333
5,1,0,63,3869200167,2762,4,69053.333333
6,1,0,61,3869200167,2772,14,69311.666667
7,1,0,139,3869200167,2776,0,69400.000000
8,1,0,62,3869200167,2774,21,69367.500000
9,1,0,60,3869200167,2788,7,69705.833333
10,1,1,7,3869200167,2785,4,69628.333333
11,1,0,64,3869200167,2786,19,69665.833333
12,1,1,6,3869200167,2792,18,69815.000000
13,1,0,36,3869200167,2791,23,69794.166667
14,1,0,56,3869200167,2789,3,69727.500000
15,1,1,139,3869200167,2797,0,69925.000000
16,1,1,8,3869200167,2787,14,69686.666667
17,1,0,63,3869200167,2790,10,69758.333333
18,1,1,5,3869200167,2795,4,69878.333333
19,1,0,53,3869200167,2796,26,69921.666667
20,1,1,10,3869200167,2789,14,69736.666667
21,1,0,57,3869200167,2789,10,69733.333333
22,1,0,61,3869200167,2790,23,69769.166667
23,1,0,38,3869200167,2799,15,69987.500000
24,1,0,58,3869200167,2795,19,69890.833333
25,1,0,62,3869200167,2797,14,69936.666667
26,1,0,59,3869200167,2799,14,69986.666667
27,1,0,59,3869200167,3081,21,77042.500000
28,1,0,61,3869200167,3081,1,77025.833333
29,1,0,60,3869200167,3083,20,77091.666667
...,...,...,...,...,...,...,...
1310690,1,1,1,3869211170,3517,5,87929.166667
1310691,1,0,56,3869211170,3516,21,87917.500000
1310692,1,1,8,3869211170,3516,7,87905.833333
1310693,1,0,58,3869211170,3521,14,88036.666667
1310694,1,1,12,3869211170,3524,15,88112.500000
1310695,1,1,2,3869211170,3527,24,88195.000000
1310696,1,0,63,3869211170,3526,2,88151.666667
1310697,1,1,10,3869211170,3525,3,88127.500000
1310698,1,0,60,3869211171,9,9,232.500000
1310699,1,0,25,3869211171,11,28,298.333333
1310700,1,0,28,3869211171,9,26,246.666667
1310701,1,0,139,3869211171,21,0,525.000000
1310702,1,0,27,3869211171,18,17,464.166667
1310703,1,0,25,3869211171,20,13,510.833333
1310704,1,0,26,3869211171,19,15,487.500000
1310705,1,0,94,3869211171,43,22,1093.333333
1310706,1,0,28,3869211171,44,29,1124.166667
1310707,1,0,57,3869211171,137,29,3449.166667
1310708,1,0,124,3869211171,199,9,4982.500000
1310709,1,1,38,3869211171,417,8,10431.666667
1310710,1,1,36,3869211171,427,13,10685.833333
1310711,1,1,39,3869211171,430,0,10750.000000
1310712,1,1,35,3869211171,429,4,10728.333333
1310713,1,0,64,3869211171,758,18,18965.000000
1310714,1,0,60,3869211171,762,2,19051.666667
1310715,1,0,62,3869211171,762,14,19061.666667
1310716,1,1,4,3869211171,763,11,19084.166667
1310717,1,0,64,3869211171,764,0,19100.000000
1310718,1,0,139,3869211171,769,0,19225.000000
1310719,1,0,61,3869211171,762,18,19065.000000

## Merge

pandas provides various facilities for easily combining together Series, DataFrame, and Panel objects with various kinds of set logic for the indexes and relational algebra functionality in the case of join / merge-type operations.

### Concat

concatenation (adding raws) is straightforward

In [177]:
rdf = pd.DataFrame(np.random.randn(10, 4))
rdf

          0         1         2         3
0  0.087082 -0.710507  0.888435  0.602874
1 -1.295605 -0.347407 -0.872245 -1.157809
2  0.900983 -0.634561  0.141377  1.672060
3 -0.137189 -0.545716  1.281601 -0.217587
4  1.323292 -0.971825 -2.319794  0.564227
5 -1.481498  0.641660 -1.849653 -0.488869
6  0.945322 -1.354868 -0.844307  0.622789
7 -0.954840 -0.902729 -0.464453 -0.037933
8  1.818027 -0.467424  1.435725 -1.455347
9 -0.172909  1.200546 -0.391787 -0.496349

In [178]:
# divide it into pieaces raw-wise
pieces = [rdf[:3], rdf[3:7], rdf[7:]]
pieces

[          0         1         2         3
 0  0.087082 -0.710507  0.888435  0.602874
 1 -1.295605 -0.347407 -0.872245 -1.157809
 2  0.900983 -0.634561  0.141377  1.672060,
           0         1         2         3
 3 -0.137189 -0.545716  1.281601 -0.217587
 4  1.323292 -0.971825 -2.319794  0.564227
 5 -1.481498  0.641660 -1.849653 -0.488869
 6  0.945322 -1.354868 -0.844307  0.622789,
           0         1         2         3
 7 -0.954840 -0.902729 -0.464453 -0.037933
 8  1.818027 -0.467424  1.435725 -1.455347
 9 -0.172909  1.200546 -0.391787 -0.496349]

In [179]:
# put it back together
pd.concat(pieces)

# indexes can be ignored
#pd.concat(pieces, ignore_index=True)

# in case of dimension mismatch, Nan are added where needed

          0         1         2         3
0  0.087082 -0.710507  0.888435  0.602874
1 -1.295605 -0.347407 -0.872245 -1.157809
2  0.900983 -0.634561  0.141377  1.672060
3 -0.137189 -0.545716  1.281601 -0.217587
4  1.323292 -0.971825 -2.319794  0.564227
5 -1.481498  0.641660 -1.849653 -0.488869
6  0.945322 -1.354868 -0.844307  0.622789
7 -0.954840 -0.902729 -0.464453 -0.037933
8  1.818027 -0.467424  1.435725 -1.455347
9 -0.172909  1.200546 -0.391787 -0.496349

In [180]:
# appending a single raw (as a Series)
s = rdf.iloc[3]
rdf.append(s, ignore_index=True)

           0         1         2         3
0   0.087082 -0.710507  0.888435  0.602874
1  -1.295605 -0.347407 -0.872245 -1.157809
2   0.900983 -0.634561  0.141377  1.672060
3  -0.137189 -0.545716  1.281601 -0.217587
4   1.323292 -0.971825 -2.319794  0.564227
5  -1.481498  0.641660 -1.849653 -0.488869
6   0.945322 -1.354868 -0.844307  0.622789
7  -0.954840 -0.902729 -0.464453 -0.037933
8   1.818027 -0.467424  1.435725 -1.455347
9  -0.172909  1.200546 -0.391787 -0.496349
10 -0.137189 -0.545716  1.281601 -0.217587

### Merge/Join

SQL like operations on table can be performed on DataFrames. This is all rather sophisticated, refer to the [doc](https://pandas.pydata.org/pandas-docs/stable/merging.html#merging) for more info/examples

In [181]:
left = pd.DataFrame({'key': ['foo', 'bar'], 'lval': [1, 2]})
right = pd.DataFrame({'key': ['foo', 'bar'], 'rval': [4, 5]})

pd.merge(left,right,on="key")

   key  lval  rval
0  foo     1     4
1  bar     2     5

## Grouping

By group by we are referring to a process involving one or more of the following steps:

* Splitting the data into groups based on some criteria
* Applying a function to each group independently
* Combining the results into a data structure

In [182]:
gdf = pd.DataFrame({'A' : ['foo', 'bar', 'foo', 'bar',
                          'foo', 'bar', 'foo', 'foo'],
                    'B' : ['one', 'one', 'two', 'three',
                           'two', 'two', 'one', 'three'],
                    'C' : np.random.randn(8),
                    'D' : np.random.randn(8)})
gdf

     A      B         C         D
0  foo    one  0.527820  2.118562
1  bar    one  0.413607  0.625150
2  foo    two  0.905604 -0.361744
3  bar  three  1.578582  0.114219
4  foo    two  0.636091 -0.324551
5  bar    two -1.529339  1.024359
6  foo    one -0.049200 -1.217411
7  foo  three  0.588019 -0.322554

In [183]:
# Grouping and then applying the sum() 
# function to the resulting groups (effective only where number are there).
gdf.groupby('A').sum()

            C         D
A
bar  0.462850  1.763728
foo  2.608333 -0.107698

## Multi-indexing


Hierarchical / Multi-level indexing allows sophisticated data analysis on higher dimensional data. In essence, it enables you to store and manipulate data with an arbitrary number of dimensions in lower dimensional data structures like Series (1d) and DataFrame (2d).

In [184]:
tuples = list(zip(['bar', 'bar', 'baz', 'baz', 'foo', 'foo', 'qux', 'qux'],
          ['one', 'two', 'one', 'two', 'one', 'two', 'one', 'two']))
multi_index = pd.MultiIndex.from_tuples(tuples, names=['first', 'second'])
print (index,'\n')

s = pd.Series(np.random.randn(8), index=multi_index)
print (s)

NameError: name 'index' is not defined

In [185]:
# it enables further features of the groupby method,
# e.g. when group-by by multiple columns
gdf.groupby(['A','B']).sum()

                  C         D
A   B
bar one    0.413607  0.625150
    three  1.578582  0.114219
    two   -1.529339  1.024359
foo one    0.478619  0.901151
    three  0.588019 -0.322554
    two    1.541695 -0.686295

In [186]:
# stack() method compresses a level in the DataFrames columns
gdf.groupby(['A','B']).sum().stack()

A    B
bar  one    C    0.413607
            D    0.625150
     three  C    1.578582
            D    0.114219
     two    C   -1.529339
            D    1.024359
foo  one    C    0.478619
            D    0.901151
     three  C    0.588019
            D   -0.322554
     two    C    1.541695
            D   -0.686295
dtype: float64

## Plotting

Just a preview, more on the next lab class!

In [187]:
ts = pd.Series(np.random.randn(1000), index=pd.date_range('1/1/2000', periods=1000))
ts.cumsum().plot()

In [188]:
pdf=pd.DataFrame(np.random.randn(1000, 4), index=ts.index,columns=['A', 'B', 'C', 'D'])
df = df.cumsum()
plt.figure(); df.plot(); plt.legend(loc='best')

NameError: name 'plt' is not defined