# Pandas

The `numpy` module is excellent for numerical computations, but to handle missing data or arrays with mixed types takes more work. The `pandas` module is currently the most widely used tool for data manipulation, providing high-performance, easy-to-use data structures and advanced data analysis tools.

In particular `pandas` features:

* A fast and efficient "DataFrame" object for data manipulation with integrated indexing;
* Tools for reading and writing data between in-memory data structures and different formats (CSV, Excel, SQL, HDF5);
* Intelligent data alignment and integrated handling of missing data;
* Intelligent label-based slicing, fancy indexing, and subsetting of large data sets;
* Aggregating or transforming data with a powerful "group-by" engine; 
* High performance merging and joining of data sets;
* Hierarchical axis indexing provides an intuitive way of working with high-dimensional data in a lower-dimensional data structure;
* Time series-functionalities;
* Highly optimized for performance, with critical code paths written in Cython or C.

In [1]:
import pandas as pd
import numpy as np

## Series

Series are completely equivalent to 1D array but with axis labels and the possibility to store heterogeneous elements. Of paramount importance are the time-series, used to define time evolutions of a phenomenon.

In [3]:
from string import ascii_lowercase as letters

# Creating a series, accessing indexes, values and values by their index 
xs = pd.Series(np.arange(10)*0.5, index=tuple(letters[:10]))
print (xs,'\n')
print (xs.index,'\n')
# Values of the Series are actually a numpy array
print (xs.values, type(xs.values),'\n')
print (xs['f'], xs.f, xs.h, '\n')
print (xs[['d', 'f', 'h']], '\n')

a    0.0
b    0.5
c    1.0
d    1.5
e    2.0
f    2.5
g    3.0
h    3.5
i    4.0
j    4.5
dtype: float64

Index(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j'], dtype='object')

[0.  0.5 1.  1.5 2.  2.5 3.  3.5 4.  4.5] <class 'numpy.ndarray'>

2.5 2.5 3.5

d    1.5
f    2.5
h    3.5
dtype: float64

In [4]:
# Extracting elements and operations: same as numpy array
print (xs[:3],'\n')
print (xs[7:], '\n')
print (xs[::3], '\n')
print (xs[xs>3], '\n')
print (np.exp(xs), '\n')
print (np.mean(xs), np.std(xs), '\n')

a    0.0
b    0.5
c    1.0
dtype: float64

h    3.5
i    4.0
j    4.5
dtype: float64

a    0.0
d    1.5
g    3.0
j    4.5
dtype: float64

h    3.5
i    4.0
j    4.5
dtype: float64

a     1.000000
b     1.648721
c     2.718282
d     4.481689
e     7.389056
f    12.182494
g    20.085537
h    33.115452
i    54.598150
j    90.017131
dtype: float64

2.25 1.4361406616345072

In [5]:
# Series can be created from python dictionary too.
# Not that the elements can be whatever!
d = {'b' : 1, 'a' : 'cat', 'c' : [2,3]}
pd.Series(d)

b         1
a       cat
c    [2, 3]
dtype: object

A key difference between Series and ndarray is that operations between Series automatically align the data based on label. Thus, you can write computations without giving consideration to whether the Series involved have the same labels.

In [6]:
s = pd.Series(np.random.randn(5), index=tuple(letters[:5]))
s[1:] + s[:-1]

a         NaN
b    1.856686
c   -0.617005
d    2.851034
e         NaN
dtype: float64

### Time series

Time series are very often used to profile the behaviour of a quantity as a function of time. Pandas as a special index for that, `DatetimeIndex`, that can be created e.g. with the function `pd.data_range()`

In [7]:
# to define a date, the datetime module is very useful
import datetime as dt
date = dt.date.today()
date = dt.datetime(2018,11,19,14,45,10,15)
print (date)

# otherwise, several notations are interpreted too
date = 'Nov 19 2018'
date = '19/11/2018 14:45:00'
print (date)

days = pd.date_range(date, periods=7, freq='D')
print (days)

seconds = pd.date_range(date, periods=3600, freq='s')
print (seconds)

2018-11-19 14:45:10.000015
19/11/2018 14:45:00
DatetimeIndex(['2018-11-19 14:45:00', '2018-11-20 14:45:00',
               '2018-11-21 14:45:00', '2018-11-22 14:45:00',
               '2018-11-23 14:45:00', '2018-11-24 14:45:00',
               '2018-11-25 14:45:00'],
              dtype='datetime64[ns]', freq='D')
DatetimeIndex(['2018-11-19 14:45:00', '2018-11-19 14:45:01',
               '2018-11-19 14:45:02', '2018-11-19 14:45:03',
               '2018-11-19 14:45:04', '2018-11-19 14:45:05',
               '2018-11-19 14:45:06', '2018-11-19 14:45:07',
               '2018-11-19 14:45:08', '2018-11-19 14:45:09',
               ...
               '2018-11-19 15:44:50', '2018-11-19 15:44:51',
               '2018-11-19 15:44:52', '2018-11-19 15:44:53',
               '2018-11-19 15:44:54', '2018-11-19 15:44:55',
               '2018-11-19 15:44:56', '2018-11-19 15:44:57',
               '2018-11-19 15:44:58', '2018-11-19 15:44:59'],
              dtype='datetime64[ns]', length=3600, freq='S')

To learn more about the frequency strings, please see this [link](http://pandas.pydata.org/pandas-docs/stable/timeseries.html#offset-aliases)


Timestamped data is the most basic type of time series data that associates values with points in time. For pandas objects it means using the points in time.

functions like `pd.to_datetime` can be used, for instance, when reading information as string from a dataset

In [16]:
tstamp = pd.Timestamp(dt.datetime(2018, 11, 19))

# internally it counts the nanoseconds from January 1st 19
#tstamp = pd.Timestamp(dt.datetime(1970, 1, 1, 0, 0, 0, 1))
print(tstamp.value)

# when creating a timestamp the format can be explicitly passed
print (pd.to_datetime('2010/11/12', format='%Y/%m/%d'))
print (pd.to_datetime('12-11-2010 00:00', format='%d-%m-%Y %H:%M'))

1542585600000000000
2010-11-12 00:00:00
2010-11-12 00:00:00

A standard series can be created and (range of) elements can be used as indexes

In [18]:
tseries = pd.Series(np.random.normal(10, 1, len(days)), index=days)
# Extracting elements
print (tseries[0:4], '\n')
print (tseries['2018-11-19':'2018-11-21'], '\n') # Note - includes end time

2018-11-19 14:45:00     9.785771
2018-11-20 14:45:00    10.109583
2018-11-21 14:45:00     9.644479
2018-11-22 14:45:00    10.250149
Freq: D, dtype: float64

2018-11-19 14:45:00     9.785771
2018-11-20 14:45:00    10.109583
2018-11-21 14:45:00     9.644479
Freq: D, dtype: float64

`pd.to_datetime` can also be used to create a `DatetimeIndex`:

In [19]:
pd.to_datetime([1, 2, 3], unit='D', origin=pd.Timestamp('1980-02-03'))

DatetimeIndex(['1980-02-04', '1980-02-05', '1980-02-06'], dtype='datetime64[ns]', freq=None)

## DataFrame

A pandas DataFrame is like a simple tabular spreadsheet. For future reference (or for people already familiar with R), a pandas DataFrame is very similar to the R DataFrame.

Each column in a DataFrame is a Series object.

The element can be whatever, missing data are dealt with too (as NaN)

### DataFrame creation

A DataFrame can be created implicitly, with, e.g., a DatatimeIndex object as index:

In [21]:
entries=10
dates=pd.date_range('19/11/2018 14:45:00',freq='h', periods=entries)
df = pd.DataFrame(np.random.randn(entries,4), index=dates, columns=['A','B','C','D'])
df

                            A         B         C         D
2018-11-19 14:45:00  0.549489 -0.197783  0.020566 -0.910506
2018-11-19 15:45:00  1.080287 -0.298810  0.233493  0.163099
2018-11-19 16:45:00 -0.872521 -1.716530 -1.682482  0.393747
2018-11-19 17:45:00 -0.330217  1.535100 -0.014995  1.186467
2018-11-19 18:45:00  0.527161 -0.623609  1.066897 -1.195653
2018-11-19 19:45:00  1.606158  0.365897 -0.732094  0.372588
2018-11-19 20:45:00  2.087699 -0.430476 -1.876117 -0.120543
2018-11-19 21:45:00  0.640809 -1.406421  0.833276 -0.339392
2018-11-19 22:45:00  0.411568 -0.052143  1.943521  1.405770
2018-11-19 23:45:00 -1.783207 -0.792068 -1.023440 -1.478117

or by means of a dictionary:

In [22]:
df2 = pd.DataFrame(
    { 'A' : 1.,
      'B' : pd.Timestamp('20130102'),
      'C' : pd.Series(1,index=range(4),dtype='float32'),
      'D' : np.arange(7,11),
      'E' : pd.Categorical(["test","train","test","train"]),
    }
    )

In [23]:
df2

     A          B    C   D      E
0  1.0 2013-01-02  1.0   7   test
1  1.0 2013-01-02  1.0   8  train
2  1.0 2013-01-02  1.0   9   test
3  1.0 2013-01-02  1.0  10  train

### Viewing Data

In [24]:
df.head()

                            A         B         C         D
2018-11-19 14:45:00  0.549489 -0.197783  0.020566 -0.910506
2018-11-19 15:45:00  1.080287 -0.298810  0.233493  0.163099
2018-11-19 16:45:00 -0.872521 -1.716530 -1.682482  0.393747
2018-11-19 17:45:00 -0.330217  1.535100 -0.014995  1.186467
2018-11-19 18:45:00  0.527161 -0.623609  1.066897 -1.195653

In [25]:
df.tail(4)

                            A         B         C         D
2018-11-19 20:45:00  2.087699 -0.430476 -1.876117 -0.120543
2018-11-19 21:45:00  0.640809 -1.406421  0.833276 -0.339392
2018-11-19 22:45:00  0.411568 -0.052143  1.943521  1.405770
2018-11-19 23:45:00 -1.783207 -0.792068 -1.023440 -1.478117

In [26]:
df.index

DatetimeIndex(['2018-11-19 14:45:00', '2018-11-19 15:45:00',
               '2018-11-19 16:45:00', '2018-11-19 17:45:00',
               '2018-11-19 18:45:00', '2018-11-19 19:45:00',
               '2018-11-19 20:45:00', '2018-11-19 21:45:00',
               '2018-11-19 22:45:00', '2018-11-19 23:45:00'],
              dtype='datetime64[ns]', freq='H')

In [27]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [28]:
df.values

array([[ 0.54948877, -0.19778264,  0.02056575, -0.91050646],
       [ 1.08028686, -0.29880985,  0.23349283,  0.16309947],
       [-0.8725211 , -1.71652967, -1.68248172,  0.39374698],
       [-0.33021717,  1.53510041, -0.01499465,  1.18646719],
       [ 0.52716113, -0.62360851,  1.06689678, -1.19565342],
       [ 1.60615842,  0.36589692, -0.7320944 ,  0.37258777],
       [ 2.08769879, -0.43047581, -1.87611697, -0.12054278],
       [ 0.64080914, -1.40642051,  0.83327642, -0.3393916 ],
       [ 0.41156823, -0.05214333,  1.94352119,  1.40577017],
       [-1.78320674, -0.79206797, -1.02344003, -1.47811684]])

In [29]:
df.describe()

               A          B          C          D
count  10.000000  10.000000  10.000000  10.000000
mean    0.391723  -0.361684  -0.123137  -0.052254
std     1.144106   0.909178   1.222356   0.957439
min    -1.783207  -1.716530  -1.876117  -1.478117
25%    -0.144771  -0.749953  -0.950604  -0.767728
50%     0.538325  -0.364643   0.002786   0.021278
75%     0.970417  -0.088553   0.683331   0.388457
max     2.087699   1.535100   1.943521   1.405770

In [30]:
df.T

,2018-11-19 14:45:00,2018-11-19 15:45:00,2018-11-19 16:45:00,2018-11-19 17:45:00,2018-11-19 18:45:00,2018-11-19 19:45:00,2018-11-19 20:45:00,2018-11-19 21:45:00,2018-11-19 22:45:00,2018-11-19 23:45:00
A,0.549489,1.080287,-0.872521,-0.330217,0.527161,1.606158,2.087699,0.640809,0.411568,-1.783207
B,-0.197783,-0.298810,-1.716530,1.535100,-0.623609,0.365897,-0.430476,-1.406421,-0.052143,-0.792068
C,0.020566,0.233493,-1.682482,-0.014995,1.066897,-0.732094,-1.876117,0.833276,1.943521,-1.023440
D,-0.910506,0.163099,0.393747,1.186467,-1.195653,0.372588,-0.120543,-0.339392,1.405770,-1.478117

In [31]:
df.sort_index(axis=1,ascending=False)

                            D         C         B         A
2018-11-19 14:45:00 -0.910506  0.020566 -0.197783  0.549489
2018-11-19 15:45:00  0.163099  0.233493 -0.298810  1.080287
2018-11-19 16:45:00  0.393747 -1.682482 -1.716530 -0.872521
2018-11-19 17:45:00  1.186467 -0.014995  1.535100 -0.330217
2018-11-19 18:45:00 -1.195653  1.066897 -0.623609  0.527161
2018-11-19 19:45:00  0.372588 -0.732094  0.365897  1.606158
2018-11-19 20:45:00 -0.120543 -1.876117 -0.430476  2.087699
2018-11-19 21:45:00 -0.339392  0.833276 -1.406421  0.640809
2018-11-19 22:45:00  1.405770  1.943521 -0.052143  0.411568
2018-11-19 23:45:00 -1.478117 -1.023440 -0.792068 -1.783207

In [32]:
df.sort_values(by="C")

                            A         B         C         D
2018-11-19 20:45:00  2.087699 -0.430476 -1.876117 -0.120543
2018-11-19 16:45:00 -0.872521 -1.716530 -1.682482  0.393747
2018-11-19 23:45:00 -1.783207 -0.792068 -1.023440 -1.478117
2018-11-19 19:45:00  1.606158  0.365897 -0.732094  0.372588
2018-11-19 17:45:00 -0.330217  1.535100 -0.014995  1.186467
2018-11-19 14:45:00  0.549489 -0.197783  0.020566 -0.910506
2018-11-19 15:45:00  1.080287 -0.298810  0.233493  0.163099
2018-11-19 21:45:00  0.640809 -1.406421  0.833276 -0.339392
2018-11-19 18:45:00  0.527161 -0.623609  1.066897 -1.195653
2018-11-19 22:45:00  0.411568 -0.052143  1.943521  1.405770

## Selection

### Getting slices

The following show how to get part of the DataFrame (i.e. not just the elements)

In [33]:
## standard and safe
print (df['A'],'\n')

## equivalent but dangerous (imagine blank spaces in the name of the column..)
print (df.A)

2018-11-19 14:45:00    0.549489
2018-11-19 15:45:00    1.080287
2018-11-19 16:45:00   -0.872521
2018-11-19 17:45:00   -0.330217
2018-11-19 18:45:00    0.527161
2018-11-19 19:45:00    1.606158
2018-11-19 20:45:00    2.087699
2018-11-19 21:45:00    0.640809
2018-11-19 22:45:00    0.411568
2018-11-19 23:45:00   -1.783207
Freq: H, Name: A, dtype: float64

2018-11-19 14:45:00    0.549489
2018-11-19 15:45:00    1.080287
2018-11-19 16:45:00   -0.872521
2018-11-19 17:45:00   -0.330217
2018-11-19 18:45:00    0.527161
2018-11-19 19:45:00    1.606158
2018-11-19 20:45:00    2.087699
2018-11-19 21:45:00    0.640809
2018-11-19 22:45:00    0.411568
2018-11-19 23:45:00   -1.783207
Freq: H, Name: A, dtype: float64

In [34]:
# selecting rows by counting
print (df[0:3])

# or by index
print (df["2018-11-19 14:45:00":"2018-11-19 16:45:00"])

                            A         B         C         D
2018-11-19 14:45:00  0.549489 -0.197783  0.020566 -0.910506
2018-11-19 15:45:00  1.080287 -0.298810  0.233493  0.163099
2018-11-19 16:45:00 -0.872521 -1.716530 -1.682482  0.393747
                            A         B         C         D
2018-11-19 14:45:00  0.549489 -0.197783  0.020566 -0.910506
2018-11-19 15:45:00  1.080287 -0.298810  0.233493  0.163099
2018-11-19 16:45:00 -0.872521 -1.716530 -1.682482  0.393747

### Selection by label

In [37]:
# getting a cross section (part of the DataFrame) using a label
df.loc[dates[0]]

A    0.549489
B   -0.197783
C    0.020566
D   -0.910506
Name: 2018-11-19 14:45:00, dtype: float64

In [38]:
# selecting on a multi-axis by label:
df.loc[:,['A','B']]

                            A         B
2018-11-19 14:45:00  0.549489 -0.197783
2018-11-19 15:45:00  1.080287 -0.298810
2018-11-19 16:45:00 -0.872521 -1.716530
2018-11-19 17:45:00 -0.330217  1.535100
2018-11-19 18:45:00  0.527161 -0.623609
2018-11-19 19:45:00  1.606158  0.365897
2018-11-19 20:45:00  2.087699 -0.430476
2018-11-19 21:45:00  0.640809 -1.406421
2018-11-19 22:45:00  0.411568 -0.052143
2018-11-19 23:45:00 -1.783207 -0.792068

In [39]:
# showing label slicing, both endpoints are included:
df.loc['2018-11-19 18:45:00':'2018-11-19 20:45:00',['A','B']]

                            A         B
2018-11-19 18:45:00  0.527161 -0.623609
2018-11-19 19:45:00  1.606158  0.365897
2018-11-19 20:45:00  2.087699 -0.430476

In [40]:
# getting an individual element
print (df.loc[dates[1],'A'])

# equivalently
print (df.at[dates[1],'A'])

1.0802868584982728
1.0802868584982728

### Selecting by position

In [41]:
# select via the position of the passed integers:
print (df.iloc[3],'\n')

# notation similar to numpy/python
print (df.iloc[3:5,0:2])

A   -0.330217
B    1.535100
C   -0.014995
D    1.186467
Name: 2018-11-19 17:45:00, dtype: float64

                            A         B
2018-11-19 17:45:00 -0.330217  1.535100
2018-11-19 18:45:00  0.527161 -0.623609

In [42]:
# selecting raws 1,2 and 4 for columns 0 and 2
df.iloc[[1,2,4],[0,2]]

                            A         C
2018-11-19 15:45:00  1.080287  0.233493
2018-11-19 16:45:00 -0.872521 -1.682482
2018-11-19 18:45:00  0.527161  1.066897

In [43]:
# slicing rows explicitly
print (df.iloc[1:3,:],'\n')

# slicing columns explicitly
print (df.iloc[:,1:3])

                            A        B         C         D
2018-11-19 15:45:00  1.080287 -0.29881  0.233493  0.163099
2018-11-19 16:45:00 -0.872521 -1.71653 -1.682482  0.393747

                            B         C
2018-11-19 14:45:00 -0.197783  0.020566
2018-11-19 15:45:00 -0.298810  0.233493
2018-11-19 16:45:00 -1.716530 -1.682482
2018-11-19 17:45:00  1.535100 -0.014995
2018-11-19 18:45:00 -0.623609  1.066897
2018-11-19 19:45:00  0.365897 -0.732094
2018-11-19 20:45:00 -0.430476 -1.876117
2018-11-19 21:45:00 -1.406421  0.833276
2018-11-19 22:45:00 -0.052143  1.943521
2018-11-19 23:45:00 -0.792068 -1.023440

In [44]:
# selecting an individual element by position
df.iloc[1,1]
df.iat[1,1]

-0.2988098548077739

### Boolean index

Very powerful way of filtering out data with certain features. Notation is very similar to numpy arrays.

In [45]:
# Filter by a boolean condition on the values of a single column
df[df['B'] > 0]

                            A         B         C         D
2018-11-19 17:45:00 -0.330217  1.535100 -0.014995  1.186467
2018-11-19 19:45:00  1.606158  0.365897 -0.732094  0.372588

In [46]:
# Selecting on the basis of boolean conditions applied to the whole DataFrame
df[df>0]

# a DataFrame with the same shape is returned, with NaN's where condition is not met

                            A         B         C         D
2018-11-19 14:45:00  0.549489       NaN  0.020566       NaN
2018-11-19 15:45:00  1.080287       NaN  0.233493  0.163099
2018-11-19 16:45:00       NaN       NaN       NaN  0.393747
2018-11-19 17:45:00       NaN  1.535100       NaN  1.186467
2018-11-19 18:45:00  0.527161       NaN  1.066897       NaN
2018-11-19 19:45:00  1.606158  0.365897       NaN  0.372588
2018-11-19 20:45:00  2.087699       NaN       NaN       NaN
2018-11-19 21:45:00  0.640809       NaN  0.833276       NaN
2018-11-19 22:45:00  0.411568       NaN  1.943521  1.405770
2018-11-19 23:45:00       NaN       NaN       NaN       NaN

### Setting

Combination of selection and setting of values

In [47]:
# setting values by label (same as by position)
df.at[dates[0],'A'] = 0

# setting and assigning a numpy array
df.loc[:,'D'] = np.array([5] * len(df))

# defining a brend new column
df['E'] = np.arange(len(df))*0.5

# defining a brend new column by means of a pd.Series: indexes must be the same!
df['E prime'] = pd.Series(np.arange(len(df))*2, index=df.index)

In [48]:
def dcos(theta):
    theta = theta*(np.pi/180)
    return np.cos(theta)
 
df['cosine'] = pd.Series(df["E"].apply(dcos), index=df.index)
df

                            A         B         C  D    E  E prime    cosine
2018-11-19 14:45:00  0.000000 -0.197783  0.020566  5  0.0        0  1.000000
2018-11-19 15:45:00  1.080287 -0.298810  0.233493  5  0.5        2  0.999962
2018-11-19 16:45:00 -0.872521 -1.716530 -1.682482  5  1.0        4  0.999848
2018-11-19 17:45:00 -0.330217  1.535100 -0.014995  5  1.5        6  0.999657
2018-11-19 18:45:00  0.527161 -0.623609  1.066897  5  2.0        8  0.999391
2018-11-19 19:45:00  1.606158  0.365897 -0.732094  5  2.5       10  0.999048
2018-11-19 20:45:00  2.087699 -0.430476 -1.876117  5  3.0       12  0.998630
2018-11-19 21:45:00  0.640809 -1.406421  0.833276  5  3.5       14  0.998135
2018-11-19 22:45:00  0.411568 -0.052143  1.943521  5  4.0       16  0.997564
2018-11-19 23:45:00 -1.783207 -0.792068 -1.023440  5  4.5       18  0.996917

In [49]:
# another example of global setting
df2=df.copy()
df2[df2>0] = -df2
df2

                            A         B         C  D    E  E prime    cosine
2018-11-19 14:45:00  0.000000 -0.197783 -0.020566 -5  0.0        0 -1.000000
2018-11-19 15:45:00 -1.080287 -0.298810 -0.233493 -5 -0.5       -2 -0.999962
2018-11-19 16:45:00 -0.872521 -1.716530 -1.682482 -5 -1.0       -4 -0.999848
2018-11-19 17:45:00 -0.330217 -1.535100 -0.014995 -5 -1.5       -6 -0.999657
2018-11-19 18:45:00 -0.527161 -0.623609 -1.066897 -5 -2.0       -8 -0.999391
2018-11-19 19:45:00 -1.606158 -0.365897 -0.732094 -5 -2.5      -10 -0.999048
2018-11-19 20:45:00 -2.087699 -0.430476 -1.876117 -5 -3.0      -12 -0.998630
2018-11-19 21:45:00 -0.640809 -1.406421 -0.833276 -5 -3.5      -14 -0.998135
2018-11-19 22:45:00 -0.411568 -0.052143 -1.943521 -5 -4.0      -16 -0.997564
2018-11-19 23:45:00 -1.783207 -0.792068 -1.023440 -5 -4.5      -18 -0.996917

### Dropping

N.B.: dropping doesn't act permanently on the DataFrame, i.e. to get that do :
```python
df = df.drop(....)
```

In [50]:
# Dropping by column
df.drop(['E prime'], axis=1)

#which is equivalent to
df.drop(columns=['E prime'])

                            A         B         C  D    E    cosine
2018-11-19 14:45:00  0.000000 -0.197783  0.020566  5  0.0  1.000000
2018-11-19 15:45:00  1.080287 -0.298810  0.233493  5  0.5  0.999962
2018-11-19 16:45:00 -0.872521 -1.716530 -1.682482  5  1.0  0.999848
2018-11-19 17:45:00 -0.330217  1.535100 -0.014995  5  1.5  0.999657
2018-11-19 18:45:00  0.527161 -0.623609  1.066897  5  2.0  0.999391
2018-11-19 19:45:00  1.606158  0.365897 -0.732094  5  2.5  0.999048
2018-11-19 20:45:00  2.087699 -0.430476 -1.876117  5  3.0  0.998630
2018-11-19 21:45:00  0.640809 -1.406421  0.833276  5  3.5  0.998135
2018-11-19 22:45:00  0.411568 -0.052143  1.943521  5  4.0  0.997564
2018-11-19 23:45:00 -1.783207 -0.792068 -1.023440  5  4.5  0.996917

In [51]:
# Dropping by raws
# save and always working
df.drop(df.index[[1,2,3,4]])

                            A         B         C  D    E  E prime    cosine
2018-11-19 14:45:00  0.000000 -0.197783  0.020566  5  0.0        0  1.000000
2018-11-19 19:45:00  1.606158  0.365897 -0.732094  5  2.5       10  0.999048
2018-11-19 20:45:00  2.087699 -0.430476 -1.876117  5  3.0       12  0.998630
2018-11-19 21:45:00  0.640809 -1.406421  0.833276  5  3.5       14  0.998135
2018-11-19 22:45:00  0.411568 -0.052143  1.943521  5  4.0       16  0.997564
2018-11-19 23:45:00 -1.783207 -0.792068 -1.023440  5  4.5       18  0.996917

In [52]:
# something like df.drop('index_name') 
# would work but the type of index must be specificed, 
# in particular with DatetimeIndex
df.drop(pd.to_datetime("2018-11-19 22:45:00"))

                            A         B         C  D    E  E prime    cosine
2018-11-19 14:45:00  0.000000 -0.197783  0.020566  5  0.0        0  1.000000
2018-11-19 15:45:00  1.080287 -0.298810  0.233493  5  0.5        2  0.999962
2018-11-19 16:45:00 -0.872521 -1.716530 -1.682482  5  1.0        4  0.999848
2018-11-19 17:45:00 -0.330217  1.535100 -0.014995  5  1.5        6  0.999657
2018-11-19 18:45:00  0.527161 -0.623609  1.066897  5  2.0        8  0.999391
2018-11-19 19:45:00  1.606158  0.365897 -0.732094  5  2.5       10  0.999048
2018-11-19 20:45:00  2.087699 -0.430476 -1.876117  5  3.0       12  0.998630
2018-11-19 21:45:00  0.640809 -1.406421  0.833276  5  3.5       14  0.998135
2018-11-19 23:45:00 -1.783207 -0.792068 -1.023440  5  4.5       18  0.996917

## Missing data

pandas primarily uses the value np.nan to represent missing data. It is by default not included in computations.

In [53]:
df_wNan = df[df>0]
df_wNan

                            A         B         C  D    E  E prime    cosine
2018-11-19 14:45:00       NaN       NaN  0.020566  5  NaN      NaN  1.000000
2018-11-19 15:45:00  1.080287       NaN  0.233493  5  0.5      2.0  0.999962
2018-11-19 16:45:00       NaN       NaN       NaN  5  1.0      4.0  0.999848
2018-11-19 17:45:00       NaN  1.535100       NaN  5  1.5      6.0  0.999657
2018-11-19 18:45:00  0.527161       NaN  1.066897  5  2.0      8.0  0.999391
2018-11-19 19:45:00  1.606158  0.365897       NaN  5  2.5     10.0  0.999048
2018-11-19 20:45:00  2.087699       NaN       NaN  5  3.0     12.0  0.998630
2018-11-19 21:45:00  0.640809       NaN  0.833276  5  3.5     14.0  0.998135
2018-11-19 22:45:00  0.411568       NaN  1.943521  5  4.0     16.0  0.997564
2018-11-19 23:45:00       NaN       NaN       NaN  5  4.5     18.0  0.996917

In [54]:
# dropping raws with at least a Nan
df_wNan.dropna(how='any')

Empty DataFrame
Columns: [A, B, C, D, E, E prime, cosine]
Index: []

In [55]:
# getting a mask
df_wNan.isna()
#df_wNan.notna()

                         A      B      C      D      E  E prime  cosine
2018-11-19 14:45:00   True   True  False  False   True     True   False
2018-11-19 15:45:00  False   True  False  False  False    False   False
2018-11-19 16:45:00   True   True   True  False  False    False   False
2018-11-19 17:45:00   True  False   True  False  False    False   False
2018-11-19 18:45:00  False   True  False  False  False    False   False
2018-11-19 19:45:00  False  False   True  False  False    False   False
2018-11-19 20:45:00  False   True   True  False  False    False   False
2018-11-19 21:45:00  False   True  False  False  False    False   False
2018-11-19 22:45:00  False   True  False  False  False    False   False
2018-11-19 23:45:00   True   True   True  False  False    False   False

In [56]:
# filling missing data
df_wNan.fillna(value=0)

                            A         B         C  D    E  E prime    cosine
2018-11-19 14:45:00  0.000000  0.000000  0.020566  5  0.0      0.0  1.000000
2018-11-19 15:45:00  1.080287  0.000000  0.233493  5  0.5      2.0  0.999962
2018-11-19 16:45:00  0.000000  0.000000  0.000000  5  1.0      4.0  0.999848
2018-11-19 17:45:00  0.000000  1.535100  0.000000  5  1.5      6.0  0.999657
2018-11-19 18:45:00  0.527161  0.000000  1.066897  5  2.0      8.0  0.999391
2018-11-19 19:45:00  1.606158  0.365897  0.000000  5  2.5     10.0  0.999048
2018-11-19 20:45:00  2.087699  0.000000  0.000000  5  3.0     12.0  0.998630
2018-11-19 21:45:00  0.640809  0.000000  0.833276  5  3.5     14.0  0.998135
2018-11-19 22:45:00  0.411568  0.000000  1.943521  5  4.0     16.0  0.997564
2018-11-19 23:45:00  0.000000  0.000000  0.000000  5  4.5     18.0  0.996917

Fill gaps forward or backward by propagating non-NA values forward or backward:

In [57]:
df_wNan.fillna(method='pad')

                            A         B         C  D    E  E prime    cosine
2018-11-19 14:45:00       NaN       NaN  0.020566  5  NaN      NaN  1.000000
2018-11-19 15:45:00  1.080287       NaN  0.233493  5  0.5      2.0  0.999962
2018-11-19 16:45:00  1.080287       NaN  0.233493  5  1.0      4.0  0.999848
2018-11-19 17:45:00  1.080287  1.535100  0.233493  5  1.5      6.0  0.999657
2018-11-19 18:45:00  0.527161  1.535100  1.066897  5  2.0      8.0  0.999391
2018-11-19 19:45:00  1.606158  0.365897  1.066897  5  2.5     10.0  0.999048
2018-11-19 20:45:00  2.087699  0.365897  1.066897  5  3.0     12.0  0.998630
2018-11-19 21:45:00  0.640809  0.365897  0.833276  5  3.5     14.0  0.998135
2018-11-19 22:45:00  0.411568  0.365897  1.943521  5  4.0     16.0  0.997564
2018-11-19 23:45:00  0.411568  0.365897  1.943521  5  4.5     18.0  0.996917

## Operations

Here comes the most relevant advantage of DataFrame. Operations on columns are extremly fast, almost as fast as the actual operation between elements in a raw

In [58]:
# Some statistics (mean() just as an example)
# raws
print (df.mean(axis=0),'\n')
# columns
print (df.mean(axis=1),'\n')

A          0.336774
B         -0.361684
C         -0.123137
D          5.000000
E          2.250000
E prime    9.000000
cosine     0.998915
dtype: float64

2018-11-19 14:45:00    0.831826
2018-11-19 15:45:00    1.359276
2018-11-19 16:45:00    0.961188
2018-11-19 17:45:00    2.098507
2018-11-19 18:45:00    2.424263
2018-11-19 19:45:00    2.819858
2018-11-19 20:45:00    2.968534
2018-11-19 21:45:00    3.366543
2018-11-19 22:45:00    4.042930
2018-11-19 23:45:00    3.556886
Freq: H, dtype: float64

In [59]:
# global operations on columns
df.apply(np.cumsum)

                            A         B         C   D     E  E prime    cosine
2018-11-19 14:45:00  0.000000 -0.197783  0.020566   5   0.0        0  1.000000
2018-11-19 15:45:00  1.080287 -0.496592  0.254059  10   0.5        2  1.999962
2018-11-19 16:45:00  0.207766 -2.213122 -1.428423  15   1.5        6  2.999810
2018-11-19 17:45:00 -0.122451 -0.678022 -1.443418  20   3.0       12  3.999467
2018-11-19 18:45:00  0.404710 -1.301630 -0.376521  25   5.0       20  4.998858
2018-11-19 19:45:00  2.010868 -0.935733 -1.108615  30   7.5       30  5.997906
2018-11-19 20:45:00  4.098567 -1.366209 -2.984732  35  10.5       42  6.996536
2018-11-19 21:45:00  4.739376 -2.772630 -2.151456  40  14.0       56  7.994670
2018-11-19 22:45:00  5.150944 -2.824773 -0.207935  45  18.0       72  8.992234
2018-11-19 23:45:00  3.367738 -3.616841 -1.231375  50  22.5       90  9.989152

In [60]:
df.apply(lambda x: x.max() - x.min())

A           3.870906
B           3.251630
C           3.819638
D           0.000000
E           4.500000
E prime    18.000000
cosine      0.003083
dtype: float64

In [61]:
# syntax is as usual similar to that of numpy arrays
df['A']+df['B']

2018-11-19 14:45:00   -0.197783
2018-11-19 15:45:00    0.781477
2018-11-19 16:45:00   -2.589051
2018-11-19 17:45:00    1.204883
2018-11-19 18:45:00   -0.096447
2018-11-19 19:45:00    1.972055
2018-11-19 20:45:00    1.657223
2018-11-19 21:45:00   -0.765611
2018-11-19 22:45:00    0.359425
2018-11-19 23:45:00   -2.575275
Freq: H, dtype: float64

Let's play it hard and load (in memory) a (relatively) large dataset

In [62]:
file_name="/Users/mzanetti/data/LEMMA2018/DT/raw/data_000636.txt"
data=pd.read_csv(file_name)
data

FileNotFoundError: File b'/Users/mzanetti/data/LEMMA2018/DT/raw/data_000636.txt' does not exist

Let's know do some operations among (elements of) columns

In [ ]:
# the one-liner killing it all
data['timens']=data['TDC_MEAS']*25/30+data['BX_COUNTER']*25

In [ ]:
# the old slooow way
def conversion(data):
    result=[]
    for i in range(len(data)): 
        result.append(data.loc[data.index[i],'TDC_MEAS']*25/30.+data.loc[data.index[i],'BX_COUNTER']*25)
    return result

data['timens']=conversion(data)

## Merge

pandas provides various facilities for easily combining together Series, DataFrame, and Panel objects with various kinds of set logic for the indexes and relational algebra functionality in the case of join / merge-type operations.

### Concat

concatenation (adding raws) is straightforward

In [63]:
rdf = pd.DataFrame(np.random.randn(10, 4))
rdf

          0         1         2         3
0  0.374874  0.940567 -0.292900  0.742214
1 -0.045243  3.188328 -1.089258 -0.295685
2  1.098220  1.084871 -0.504154  0.692154
3 -1.565658 -1.573571 -0.220037 -0.635454
4  0.216405 -1.059585  1.652438  0.524539
5  0.336687 -1.563488 -1.275860 -0.701710
6 -0.070927 -1.053544  0.031172  0.927175
7 -2.072102 -0.882393 -0.586996 -0.853820
8 -1.408139  0.370009 -1.173731 -0.320429
9 -0.112458 -1.910232  1.091989  1.138215

In [64]:
# divide it into pieaces raw-wise
pieces = [rdf[:3], rdf[3:7], rdf[7:]]
pieces

[          0         1         2         3
 0  0.374874  0.940567 -0.292900  0.742214
 1 -0.045243  3.188328 -1.089258 -0.295685
 2  1.098220  1.084871 -0.504154  0.692154,
           0         1         2         3
 3 -1.565658 -1.573571 -0.220037 -0.635454
 4  0.216405 -1.059585  1.652438  0.524539
 5  0.336687 -1.563488 -1.275860 -0.701710
 6 -0.070927 -1.053544  0.031172  0.927175,
           0         1         2         3
 7 -2.072102 -0.882393 -0.586996 -0.853820
 8 -1.408139  0.370009 -1.173731 -0.320429
 9 -0.112458 -1.910232  1.091989  1.138215]

In [65]:
# put it back together
pd.concat(pieces)

# indexes can be ignored
#pd.concat(pieces, ignore_index=True)

# in case of dimension mismatch, Nan are added where needed

          0         1         2         3
0  0.374874  0.940567 -0.292900  0.742214
1 -0.045243  3.188328 -1.089258 -0.295685
2  1.098220  1.084871 -0.504154  0.692154
3 -1.565658 -1.573571 -0.220037 -0.635454
4  0.216405 -1.059585  1.652438  0.524539
5  0.336687 -1.563488 -1.275860 -0.701710
6 -0.070927 -1.053544  0.031172  0.927175
7 -2.072102 -0.882393 -0.586996 -0.853820
8 -1.408139  0.370009 -1.173731 -0.320429
9 -0.112458 -1.910232  1.091989  1.138215

In [66]:
# appending a single raw (as a Series)
s = rdf.iloc[3]
rdf.append(s, ignore_index=True)

           0         1         2         3
0   0.374874  0.940567 -0.292900  0.742214
1  -0.045243  3.188328 -1.089258 -0.295685
2   1.098220  1.084871 -0.504154  0.692154
3  -1.565658 -1.573571 -0.220037 -0.635454
4   0.216405 -1.059585  1.652438  0.524539
5   0.336687 -1.563488 -1.275860 -0.701710
6  -0.070927 -1.053544  0.031172  0.927175
7  -2.072102 -0.882393 -0.586996 -0.853820
8  -1.408139  0.370009 -1.173731 -0.320429
9  -0.112458 -1.910232  1.091989  1.138215
10 -1.565658 -1.573571 -0.220037 -0.635454

### Merge/Join

SQL like operations on table can be performed on DataFrames. This is all rather sophisticated, refer to the [doc](https://pandas.pydata.org/pandas-docs/stable/merging.html#merging) for more info/examples

In [67]:
left = pd.DataFrame({'key': ['foo', 'bar'], 'lval': [1, 2]})
right = pd.DataFrame({'key': ['foo', 'bar'], 'rval': [4, 5]})

pd.merge(left,right,on="key")

   key  lval  rval
0  foo     1     4
1  bar     2     5

## Grouping

By group by we are referring to a process involving one or more of the following steps:

* Splitting the data into groups based on some criteria
* Applying a function to each group independently
* Combining the results into a data structure

In [68]:
gdf = pd.DataFrame({'A' : ['foo', 'bar', 'foo', 'bar',
                          'foo', 'bar', 'foo', 'foo'],
                    'B' : ['one', 'one', 'two', 'three',
                           'two', 'two', 'one', 'three'],
                    'C' : np.random.randn(8),
                    'D' : np.random.randn(8)})
gdf

     A      B         C         D
0  foo    one -0.619668  1.468383
1  bar    one  1.644254 -1.794942
2  foo    two  1.858690 -0.502637
3  bar  three  0.097849 -0.077602
4  foo    two -1.837665  0.595039
5  bar    two  0.644361  0.164557
6  foo    one  0.444161 -1.071898
7  foo  three  0.915608 -1.409753

In [69]:
# Grouping and then applying the sum() 
# function to the resulting groups (effective only where number are there).
gdf.groupby('A').sum()

            C         D
A
bar  2.386464 -1.707986
foo  0.761126 -0.920867

## Multi-indexing


Hierarchical / Multi-level indexing allows sophisticated data analysis on higher dimensional data. In essence, it enables you to store and manipulate data with an arbitrary number of dimensions in lower dimensional data structures like Series (1d) and DataFrame (2d).

In [72]:
tuples = list(zip(['bar', 'bar', 'baz', 'baz', 'foo', 'foo', 'qux', 'qux'],
          ['one', 'two', 'one', 'two', 'one', 'two', 'one', 'two']))
multi_index = pd.MultiIndex.from_tuples(tuples, names=['first', 'second'])
print (multi_index,'\n')

s = pd.Series(np.random.randn(8), index=multi_index)
print (s)

MultiIndex(levels=[['bar', 'baz', 'foo', 'qux'], ['one', 'two']],
           labels=[[0, 0, 1, 1, 2, 2, 3, 3], [0, 1, 0, 1, 0, 1, 0, 1]],
           names=['first', 'second'])

first  second
bar    one      -1.339325
       two       0.490390
baz    one      -0.034286
       two       0.579004
foo    one       0.120206
       two       0.154434
qux    one      -0.029644
       two      -0.567697
dtype: float64

In [71]:
# it enables further features of the groupby method,
# e.g. when group-by by multiple columns
gdf.groupby(['A','B']).sum()

                  C         D
A   B
bar one    1.644254 -1.794942
    three  0.097849 -0.077602
    two    0.644361  0.164557
foo one   -0.175507  0.396485
    three  0.915608 -1.409753
    two    0.021025  0.092401

In [ ]:
# stack() method compresses a level in the DataFrames columns
gdf.groupby(['A','B']).sum().stack()

## Plotting

Just a preview, more on the next lab class!

In [ ]:
ts = pd.Series(np.random.randn(1000), index=pd.date_range('1/1/2000', periods=1000))
ts.cumsum().plot()

In [ ]:
pdf=pd.DataFrame(np.random.randn(1000, 4), index=ts.index,columns=['A', 'B', 'C', 'D'])
df = df.cumsum()
plt.figure(); df.plot(); plt.legend(loc='best')