## Pandas analysis

In the following a series of exercises is proposed on a dataset containg timing information from a series of Time-to-Digital-Converters (TDC) implemented in a couple of FPGA's. Each measurement (i.e. each raw) consists of the address of the TDC providing the signal, 'FPGA' and 'TDC_Channel, and the timing information itself, 'ORBIT_CNT', 'BX_COUNTER' and 'TDC_MEAS'. Each TDC count correspond 25/30 ns, whereas the BX_COUNTER feauters gets updated every 25 ns and the ORBIT_CNT every 'x' BX_COUNTER. You can see these way of storing the time as similar to hours, minutes and seconds.

1\. Create a Pandas DataFrame by read N raws of the 'data_000637.txt' dataset. Choose N to be smaller than or equal to the maximum number of raws and larger that 10k.

2\. Find out the value of 'x'

3\. Find out how much the data taking lasted. You can either make an estimate on the baseis of the fraction of the measurements (raws) you read, or perform this check precisely by reading out the whole dataset

4\. Create a new column with the actual time in ns (as a combination of the other three columns with timing information)

5\. Replace the values (all 1) of the HEAD column randomly with 0 or 1

6\. Create a new DataFrame with only the raws with HEAD=1

7\. Make two occupancy plots (one per FPGA), i.e. plot the number of counts per TDC channel

8\. Use the groupby method to find out the noisy channels, i.e. the TDC channels with most counts (say the top 3)

9\. Count the number of unique orbits. Count the number of unique orbits with at least one measurement from TDC_CHANNEL=139

In [2]:
import pandas as pd
import numpy as np

In [12]:
file_name="/home/simone/~Downloads/data_000637.txt"

def load_data(filename, N = -1):
    if N == -1:
        return pd.read_csv(filename)
    elif N < 10000:
        print("You have to import at least 10k rows.")
    else:
        return pd.read_csv(filename, nrows = N)

data = load_data(file_name)

data

         HEAD  FPGA  TDC_CHANNEL   ORBIT_CNT  BX_COUNTER  TDC_MEAS
0           1     0          123  3869200167        2374        26
1           1     0          124  3869200167        2374        27
2           1     0           63  3869200167        2553        28
3           1     0           64  3869200167        2558        19
4           1     0           64  3869200167        2760        25
5           1     0           63  3869200167        2762         4
6           1     0           61  3869200167        2772        14
7           1     0          139  3869200167        2776         0
8           1     0           62  3869200167        2774        21
9           1     0           60  3869200167        2788         7
10          1     1            7  3869200167        2785         4
11          1     0           64  3869200167        2786        19
12          1     1            6  3869200167        2792        18
13          1     0           36  3869200167        2791        23
14          1     0           56  3869200167        2789         3
15          1     1          139  3869200167        2797         0
16          1     1            8  3869200167        2787        14
17          1     0           63  3869200167        2790        10
18          1     1            5  3869200167        2795         4
19          1     0           53  3869200167        2796        26
20          1     1           10  3869200167        2789        14
21          1     0           57  3869200167        2789        10
22          1     0           61  3869200167        2790        23
23          1     0           38  3869200167        2799        15
24          1     0           58  3869200167        2795        19
25          1     0           62  3869200167        2797        14
26          1     0           59  3869200167        2799        14
27          1     0           59  3869200167        3081        21
28          1     0           61  3869200167        3081         1
29          1     0           60  3869200167        3083        20
...       ...   ...          ...         ...         ...       ...
1310690     1     1            1  3869211170        3517         5
1310691     1     0           56  3869211170        3516        21
1310692     1     1            8  3869211170        3516         7
1310693     1     0           58  3869211170        3521        14
1310694     1     1           12  3869211170        3524        15
1310695     1     1            2  3869211170        3527        24
1310696     1     0           63  3869211170        3526         2
1310697     1     1           10  3869211170        3525         3
1310698     1     0           60  3869211171           9         9
1310699     1     0           25  3869211171          11        28
1310700     1     0           28  3869211171           9        26
1310701     1     0          139  3869211171          21         0
1310702     1     0           27  3869211171          18        17
1310703     1     0           25  3869211171          20        13
1310704     1     0           26  3869211171          19        15
1310705     1     0           94  3869211171          43        22
1310706     1     0           28  3869211171          44        29
1310707     1     0           57  3869211171         137        29
1310708     1     0          124  3869211171         199         9
1310709     1     1           38  3869211171         417         8
1310710     1     1           36  3869211171         427        13
1310711     1     1           39  3869211171         430         0
1310712     1     1           35  3869211171         429         4
1310713     1     0           64  3869211171         758        18
1310714     1     0           60  3869211171         762         2
1310715     1     0           62  3869211171         762        14
1310716     1     1            4  3869211171         763        11
1310717     1     0           64  3869211171         764         0
1310718     1     0          139  3869211171         769         0
1310719     1     0           61  3869211171         762        18

[1310720 rows x 6 columns]

In [13]:
x = data["BX_COUNTER"].max()
print("The value of x is:",x)

The value of x is: 3563

In [14]:
data['timens'] = data['TDC_MEAS']*25/30+data['BX_COUNTER']*25 + data['ORBIT_CNT']*x*25

timetaken = data['timens'].max() - data['timens'].min()
print("The data time is:", timetaken*pow(10,-9), "s")

The data time is: 0.9801411533125001 s

In [19]:
import random

l = [0, 1]
data['HEAD'] = pd.Series([random.choice([0,1]) for i in range(len(data))])

In [22]:
data_h1 = data[data["HEAD"] == 1]

In [44]:
data[data["FPGA"] == 0].plot(np.array(data[data["FPGA"] == 0]["TDC_CHANNEL"].value_counts().index),
                             np.array(data[data["FPGA"] == 0]["TDC_CHANNEL"].value_counts().values))

KeyError: '[139  64  63  61  62  60  59  58  57  56  54  53  51 123 124  50  48  49\n  47  44  46  45  40  43  42  36  41  38 122  32 121  28  37  35 120  24\n  31  33  26  20  27 119  22  16  29  23  25  18 118   8  19  21   4  88\n 117  15 116  10  90  86  84  89  85  87  92  17  83  82  80  91  11  13\n   6  81  79  78  77  76   7  75  94 115   2  72  74  73  93   3   9  71\n   5  68  70  96  69  66 114 112   1  65 113  95  98  97 111 100 108 110\n 104 109  99 105 102 101 107 106 103  67 138 130 137  30 129  39] not in index'

In [42]:
data[data["FPGA"] == 0]["TDC_CHANNEL"].value_counts().index

Int64Index([139,  64,  63,  61,  62,  60,  59,  58,  57,  56,
            ...
            107, 106, 103,  67, 138, 130, 137,  30, 129,  39],
           dtype='int64', length=124)

In [29]:
counts = []
for fpga, group_fpga in data.groupby(['FPGA']):
    c_dict = {}
    for tdc_channel, group_tdc_channel in group_fpga.groupby(['TDC_CHANNEL']):
        c_dict[tdc_channel] = len(group_tdc_channel)
    counts.append(c_dict)

2