# Processing of triggerlessly acquired detector's data
### Description
Load the dataset

In [7]:
import pandas as pd
import numpy as np

In [9]:
# Prepare the path to the file
# directory = "/data/Run000260/"
# file_name = "data_000000.txt"
directory = "~/data/"
file_name = "data_000637.txt"

# Load the dataset
data = pd.read_csv(directory + file_name)
data.head(5)

   HEAD  FPGA  TDC_CHANNEL   ORBIT_CNT  BX_COUNTER  TDC_MEAS
0     1     0          123  3869200167        2374        26
1     1     0          124  3869200167        2374        27
2     1     0           63  3869200167        2553        28
3     1     0           64  3869200167        2558        19
4     1     0           64  3869200167        2760        25

In [10]:
grouped_orbit = data.groupby(['ORBIT_CNT'])
group = grouped_orbit.max()
group = group[group['TDC_CHANNEL'] == 139]
group

            HEAD  FPGA  TDC_CHANNEL  BX_COUNTER  TDC_MEAS
ORBIT_CNT
3869200167     1     1          139        3187        28
3869200168     1     1          139        3538        29
3869200169     1     1          139        2766        29
3869200170     1     1          139        3377        29
3869200171     1     1          139        3542        29
3869200172     1     1          139        3521        29
3869200173     1     1          139        3247        29
3869200174     1     1          139        2989        29
3869200175     1     1          139        3542        28
3869200176     1     1          139        3489        29
3869200177     1     1          139        3244        29
3869200178     1     1          139        1370        29
3869200179     1     1          139        1953        28
3869200180     1     1          139        3545        29
3869200181     1     1          139        3376        29
3869200182     1     1          139        3513        29
3869200183     1     1          139        2310        28
3869200184     1     1          139        3483        29
3869200185     1     1          139        3339        29
3869200186     1     1          139        3475        29
3869200187     1     1          139        3011        29
3869200188     1     1          139        2214        29
3869200189     1     1          139        3390        28
3869200190     1     1          139        3529        28
3869200191     1     1          139        3481        29
3869200192     1     1          139        3562        29
3869200193     1     1          139        3493        29
3869200194     1     1          139        2576        29
3869200195     1     1          139        3563        29
3869200196     1     1          139        3516        29
...          ...   ...          ...         ...       ...
3869211142     1     1          139        3448        29
3869211143     1     1          139        3243        29
3869211144     1     1          139        3545        29
3869211145     1     1          139        3480        29
3869211146     1     1          139        3459        28
3869211147     1     1          139        3387        29
3869211148     1     1          139        3471        29
3869211149     1     1          139        3549        29
3869211150     1     1          139        3251        29
3869211151     1     1          139        3551        29
3869211152     1     1          139        3225        29
3869211153     1     1          139        3120        29
3869211154     1     1          139        3473        29
3869211155     1     1          139        2930        29
3869211156     1     1          139        3511        29
3869211157     1     1          139        3519        29
3869211158     1     1          139        3313        29
3869211159     1     1          139        3490        29
3869211160     1     1          139        3167        29
3869211161     1     1          139        3530        29
3869211162     1     1          139        3283        29
3869211163     1     1          139        3553        29
3869211164     1     1          139        3508        29
3869211165     1     1          139        3560        29
3869211166     1     1          139        2807        29
3869211167     1     1          139        3553        29
3869211168     1     1          139        3556        29
3869211169     1     1          139        3498        29
3869211170     1     1          139        3527        29
3869211171     1     1          139         769        29

[10976 rows x 5 columns]