In [14]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

1. The MickeyMouse problem

a) Write a program that prints the numbers from 1 to 100. But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. For numbers which are multiples of both three and five print MickeyMouse

b) Put the result in a tuple and substitute Mickey with Donald and Mouse with Duck

In [10]:
a=[]
for i in range(1,100): 
 if i % 3 ==0 and i % 5 == 0:   
     a.append("MickeyMouse")   
 elif i % 3 ==0:
     a.append("Mickey")   
 elif i % 5 ==0:
     a.append("Mouse")  
 else:
     a.append(i)   
print(a)

b=a
for n, i in enumerate(a):
    if i == "Mickey":
     b[n]="Donald"
    elif i == "Mouse":
        b[n]="Duck"
    else:
        b[n]=a[n]
print(b)

[1, 2, 'Mickey', 4, 'Mouse', 'Mickey', 7, 8, 'Mickey', 'Mouse', 11, 'Mickey', 13, 14, 'MickeyMouse', 16, 17, 'Mickey', 19, 'Mouse', 'Mickey', 22, 23, 'Mickey', 'Mouse', 26, 'Mickey', 28, 29, 'MickeyMouse', 31, 32, 'Mickey', 34, 'Mouse', 'Mickey', 37, 38, 'Mickey', 'Mouse', 41, 'Mickey', 43, 44, 'MickeyMouse', 46, 47, 'Mickey', 49, 'Mouse', 'Mickey', 52, 53, 'Mickey', 'Mouse', 56, 'Mickey', 58, 59, 'MickeyMouse', 61, 62, 'Mickey', 64, 'Mouse', 'Mickey', 67, 68, 'Mickey', 'Mouse', 71, 'Mickey', 73, 74, 'MickeyMouse', 76, 77, 'Mickey', 79, 'Mouse', 'Mickey', 82, 83, 'Mickey', 'Mouse', 86, 'Mickey', 88, 89, 'MickeyMouse', 91, 92, 'Mickey', 94, 'Mouse', 'Mickey', 97, 98, 'Mickey']
[1, 2, 'Donald', 4, 'Duck', 'Donald', 7, 8, 'Donald', 'Duck', 11, 'Donald', 13, 14, 'MickeyMouse', 16, 17, 'Donald', 19, 'Duck', 'Donald', 22, 23, 'Donald', 'Duck', 26, 'Donald', 28, 29, 'MickeyMouse', 31, 32, 'Donald', 34, 'Duck', 'Donald', 37, 38, 'Donald', 'Duck', 41, 'Donald', 43, 44, 'MickeyMouse', 46, 47, 'Donald', 49, 'Duck', 'Donald', 52, 53, 'Donald', 'Duck', 56, 'Donald', 58, 59, 'MickeyMouse', 61, 62, 'Donald', 64, 'Duck', 'Donald', 67, 68, 'Donald', 'Duck', 71, 'Donald', 73, 74, 'MickeyMouse', 76, 77, 'Donald', 79, 'Duck', 'Donald', 82, 83, 'Donald', 'Duck', 86, 'Donald', 88, 89, 'MickeyMouse', 91, 92, 'Donald', 94, 'Duck', 'Donald', 97, 98, 'Donald']

2\. The swap function

Write a function that swap the values of two input variables x and y (whatever the type). Try to do that also without a temporary variable

In [12]:
def my_swap(x,y):
     return y,x

# test 
print(my_swap('miao',3))

(3, 'miao')

3\. Computing the distance

Write a function that calculates and returns the euclidean distance between two points *u* and *v*, where *u* and *v* are both 2-tuples *(x,y)*. For example, if *u=(3,0)* and *v=(0,4)*, the function should return 5

In [ ]:
import math

def my_distance(u,v):
    d= math.sqrt( (u[0]-v[0])**2 + (u[1]-v[1])**2)
    return d

# test
a=[4,0]
m=[0,3]
my_distance(a,m)

4\. Counting letters

Write a program to calculate the number of times each character occurs in a given string *s*. Ignore differneces in capitalization

In [13]:
s="Write a program that prints the numbers from 1 to 100. \
But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. \
For numbers which are multiples of both three and five print MickeyMouse"
def my_count_strings(s):
    m=list(set(s.lower()))
    for i in range(0,(len(m))): 
     count_i = s.count(m[i])
     print (m[i], "appears", count_i, "times")
my_count_strings(s)

l appears 6 times
d appears 3 times
1 appears 2 times
p appears 8 times
y appears 2 times
v appears 2 times
r appears 17 times
m appears 8 times
  appears 41 times
0 appears 2 times
s appears 9 times
a appears 7 times
g appears 1 times
u appears 9 times
h appears 9 times
f appears 9 times
c appears 3 times
. appears 2 times
e appears 22 times
k appears 2 times
i appears 14 times
o appears 13 times
b appears 4 times
t appears 19 times
w appears 1 times
n appears 10 times

5\. Isolating the unique

Write a function that determines and count the unique numbers in the list *l*

In [ ]:
l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]
def my_countlist(l):
     m=list(set(l)) #this makes a set (unordered collection of unique items) out of the list
     for i in range(0, len(m)):
        count_i=l.count(m[i])
        print(m[i], "appears", count_i, "times")
    
my_countlist(l)

6\. Combination of functions

Write two functions - one that returns the square of a number, and one that returns the cube. Now write a third function that returns the number raised to the 6th power using the two previous functions.

In [15]:
def my_square(a):
    square=a*a
    return square
# example 
my_square(10)

def my_cube(a):
    cube= a*a*a
    return cube
#example
my_cube(3)

def my_6th(a):
    sixth= my_square(my_cube(a))
    return sixth
#example 
my_6th(7)

100

27

117649

7\. Cubes

Create a list of the cubes of x for x in *[0, 10]* using:

a) a for loop

b) a list comprehension

In [22]:
#for loop

a=[]
for i in range(0, 11):
    a.append(i*i*i)
print(a)   

# list comprehension

def my_cube(a):
    cube= a*a*a
    return cube
list(map(my_cube, range(0, 11)))

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

8\. Nested list comprehension

A Pythagorean triple is an integer solution to the Pythagorean theorem $a^2+b^2=c^2$. The first Pythagorean triple is (3,4,5). Find and put in a tuple all unique Pythagorean triples for the positive integers a, b and c less than 100.

In [23]:
a=[]
for x in range(1,100):
    for y in range(x,100):
            for z in range(y,100):
                if x*x+y*y==z*z:
                    a.append((x,y,z))
print(a)

[(3, 4, 5), (5, 12, 13), (6, 8, 10), (7, 24, 25), (8, 15, 17), (9, 12, 15), (9, 40, 41), (10, 24, 26), (11, 60, 61), (12, 16, 20), (12, 35, 37), (13, 84, 85), (14, 48, 50), (15, 20, 25), (15, 36, 39), (16, 30, 34), (16, 63, 65), (18, 24, 30), (18, 80, 82), (20, 21, 29), (20, 48, 52), (21, 28, 35), (21, 72, 75), (24, 32, 40), (24, 45, 51), (24, 70, 74), (25, 60, 65), (27, 36, 45), (28, 45, 53), (30, 40, 50), (30, 72, 78), (32, 60, 68), (33, 44, 55), (33, 56, 65), (35, 84, 91), (36, 48, 60), (36, 77, 85), (39, 52, 65), (39, 80, 89), (40, 42, 58), (40, 75, 85), (42, 56, 70), (45, 60, 75), (48, 55, 73), (48, 64, 80), (51, 68, 85), (54, 72, 90), (57, 76, 95), (60, 63, 87), (65, 72, 97)]

9\. Normalization

Write a function that takes a tuple of numbers and returns it with the entries normalized to one

In [26]:
def my_norm(a):
    tot=0
    for x in range(0, len(a)):
        tot=tot+a[x]
    for x in range(0, len(a)):
        a[x]=a[x]/tot
    return a

# example
my_norm([1,1,1,10])

[0.07692307692307693,
 0.07692307692307693,
 0.07692307692307693,
 0.7692307692307693]