1. The MickeyMouse problem

a) Write a program that prints the numbers from 1 to 100. But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. For numbers which are multiples of both three and five print MickeyMouse

b) Put the result in a tuple and substitute Mickey with Donald and Mouse with Duck

In [ ]:
a=[]

for i in range (1,100):
    if(i%3==0 and i%5==0): a.append("DonaldDuck")
    elif i%3==0: a.append("Donal")
    elif i%5==0: a.append("Duck")
    else: a.append(i)

print(a)

2\. The swap function

Write a function that swap the values of two input variables x and y (whatever the type). Try to do that also without a temporary variable

In [ ]:
def swap(i,j):
    temp = i
    i = j
    j = temp
    return i,j

a,b = 1,"ciao"
print(swap(a,b))

3\. Computing the distance

Write a function that calculates and returns the euclidean distance between two points *u* and *v*, where *u* and *v* are both 2-tuples *(x,y)*. For example, if *u=(3,0)* and *v=(0,4)*, the function should return 5

In [ ]:
import math

def euclide(x,y):
    return math.sqrt((y[0]-x[0])**2+(y[1]-x[1])**2)
u = (3,0)
v = (0,4)
print(euclide(u,v))

4\. Counting letters

Write a program to calculate the number of times each character occurs in a given string *s*. Ignore differneces in capitalization

In [ ]:
s="Write a program that prints the numbers from 1 to 100. \
But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. \
For numbers which are multiples of both three and five print MickeyMouse"

characters = [x for x in s]
list = {}


for i in range(0,len(characters)):
    char = characters[i]
    count = 0
    for j in range(0,len(characters)):
        if (char.upper() == characters[j]) or (char.lower() == characters[j]):
            count+= 1
    list[char.upper()] = count
print(list)

5\. Isolating the unique

Write a function that determines and count the unique numbers in the list *l*

In [ ]:
l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]

def uniqueNumber(x):

    result = {}

    for i in range(0,len(x)):
        count = 0
        number = l[i]
        for j in range(0,len(x)):
            if number == l[j]:
                count+=1
        if count==1:
            result[number] = count
    return result,len(result)
    
result, length = uniqueNumber(l)    
print("Unique numbers are: ", result)
print("Dimension of the list is: ",length)

6\. Combination of functions

Write two functions - one that returns the square of a number, and one that returns the cube. Now write a third function that returns the number raised to the 6th power using the two previous functions.

In [82]:
def square(x):
    return x**2

def cube(x):
    return x**3

def sixPower(x):
    return square(cube(x))

a = input("insert a value ")
x = float(a)
print("The 6th power is", sixPower(x))

insert a value 10
The 6th power is 1000000.0

7\. Cubes

Create a list of the cubes of x for x in *[0, 10]* using:

a) a for loop

b) a list comprehension

In [87]:
#esercizio parte a

cubes = []

for i in range(0,11):
    cubes.append(i**3)
    
print(cubes)

#esercizio parte b

cubes = [x**3 for x in range(0,11)]
print(cubes)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]
[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

8\. Nested list comprehension

A Pythagorean triple is an integer solution to the Pythagorean theorem $a^2+b^2=c^2$. The first Pythagorean triple is (3,4,5). Find and put in a tuple all unique Pythagorean triples for the positive integers a, b and c less than 100.

In [7]:
triple = [(x,y,z) for x in range(1,100) for y in range(x,100) for z in range(0,101) if z**2 == x**2+y**2] 
print(triple)

[(3, 4, 5), (5, 12, 13), (6, 8, 10), (7, 24, 25), (8, 15, 17), (9, 12, 15), (9, 40, 41), (10, 24, 26), (11, 60, 61), (12, 16, 20), (12, 35, 37), (13, 84, 85), (14, 48, 50), (15, 20, 25), (15, 36, 39), (16, 30, 34), (16, 63, 65), (18, 24, 30), (18, 80, 82), (20, 21, 29), (20, 48, 52), (21, 28, 35), (21, 72, 75), (24, 32, 40), (24, 45, 51), (24, 70, 74), (25, 60, 65), (27, 36, 45), (28, 45, 53), (28, 96, 100), (30, 40, 50), (30, 72, 78), (32, 60, 68), (33, 44, 55), (33, 56, 65), (35, 84, 91), (36, 48, 60), (36, 77, 85), (39, 52, 65), (39, 80, 89), (40, 42, 58), (40, 75, 85), (42, 56, 70), (45, 60, 75), (48, 55, 73), (48, 64, 80), (51, 68, 85), (54, 72, 90), (57, 76, 95), (60, 63, 87), (60, 80, 100), (65, 72, 97)]

9\. Normalization

Write a function that takes a tuple of numbers and returns it with the entries normalized to one

In [11]:
import math

def normalization(x):
    sumx = math.fsum(x)
    return tuple(i/sumx for i in x)

a = (1,1,1,1,1,1)
print(normalization(a))

6.0
(0.16666666666666666, 0.16666666666666666, 0.16666666666666666, 0.16666666666666666, 0.16666666666666666, 0.16666666666666666)