1. The MickeyMouse problem

a) Write a program that prints the numbers from 1 to 100. But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. For numbers which are multiples of both three and five print MickeyMouse

b) Put the result in a list and substitute Mickey with Donald and Mouse with Duck

In [66]:
for i in range(1,101,1):
    if i%15==0:
        print("MickeyMouse")
    elif i%5==0:
        print("Mouse")
    elif i%3==0:
        print("Mickey")
    else:
        print(i)

1
2
Mickey
4
Mouse
Mickey
7
8
Mickey
Mouse
11
Mickey
13
14
MickeyMouse
16
17
Mickey
19
Mouse
Mickey
22
23
Mickey
Mouse
26
Mickey
28
29
MickeyMouse
31
32
Mickey
34
Mouse
Mickey
37
38
Mickey
Mouse
41
Mickey
43
44
MickeyMouse
46
47
Mickey
49
Mouse
Mickey
52
53
Mickey
Mouse
56
Mickey
58
59
MickeyMouse
61
62
Mickey
64
Mouse
Mickey
67
68
Mickey
Mouse
71
Mickey
73
74
MickeyMouse
76
77
Mickey
79
Mouse
Mickey
82
83
Mickey
Mouse
86
Mickey
88
89
MickeyMouse
91
92
Mickey
94
Mouse
Mickey
97
98
Mickey
Mouse

In [78]:
strange_list = [i for i in range(1,101,)]
for i in range(1,101):
    if i%15==0:
        strange_list[i-1]="DonaldDuck"
    elif i%5==0:
        strange_list[i-1]="Duck"
    elif i%3==0:
        strange_list[i-1]="Donald"
print(strange_list)

[1, 2, 'Donald', 4, 'Duck', 'Donald', 7, 8, 'Donald', 'Duck', 11, 'Donald', 13, 14, 'DonaldDuck', 16, 17, 'Donald', 19, 'Duck', 'Donald', 22, 23, 'Donald', 'Duck', 26, 'Donald', 28, 29, 'DonaldDuck', 31, 32, 'Donald', 34, 'Duck', 'Donald', 37, 38, 'Donald', 'Duck', 41, 'Donald', 43, 44, 'DonaldDuck', 46, 47, 'Donald', 49, 'Duck', 'Donald', 52, 53, 'Donald', 'Duck', 56, 'Donald', 58, 59, 'DonaldDuck', 61, 62, 'Donald', 64, 'Duck', 'Donald', 67, 68, 'Donald', 'Duck', 71, 'Donald', 73, 74, 'DonaldDuck', 76, 77, 'Donald', 79, 'Duck', 'Donald', 82, 83, 'Donald', 'Duck', 86, 'Donald', 88, 89, 'DonaldDuck', 91, 92, 'Donald', 94, 'Duck', 'Donald', 97, 98, 'Donald', 'Duck']

2\. The swap function

Write a function that swap the values of two input variables x and y (whatever the type). Try to do that also without a temporary variable

In [80]:
list=[5,6]

def swap(pippo):
    a=pippo[0]
    b=pippo[1]
    pippo[0]=b
    pippo[1]=a
    return

swap(list)

print(list)

[6, 5]

3\. Computing the distance

Write a function that calculates and returns the euclidean distance between two points *u* and *v*, where *u* and *v* are both 2-tuples *(x,y)*. For example, if *u=(3,0)* and *v=(0,4)*, the function should return 5

In [81]:
import math

def distance(pippo,pluto):
    return math.sqrt((pippo[0]-pluto[0])**2+(pippo[1]-pluto[1])**2)

u=[1,0]

v=[0,1]

print(distance(u,v))

print(distance([1,0],[0,1]))

1.4142135623730951
1.4142135623730951

4\. Counting letters

Write a program to calculate the number of times each character occurs in a given string *s*. Ignore differneces in capitalization

In [82]:
s="Write a program that prints the numbers from 1 to 100. \
But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. \
For numbers which are multiples of both three and five print MickeyMouse"

s2=s.lower()
alphabet=""
for i in s2:
    if i not in alphabet:
        alphabet+=i
for i in alphabet:
    print("There are",s2.count(i),"characters",i)

There are 2 characters w
There are 17 characters r
There are 14 characters i
There are 19 characters t
There are 22 characters e
There are 41 characters
There are 7 characters a
There are 8 characters p
There are 13 characters o
There are 1 characters g
There are 12 characters m
There are 9 characters h
There are 10 characters n
There are 9 characters s
There are 9 characters u
There are 5 characters b
There are 10 characters f
There are 2 characters 1
There are 2 characters 0
There are 2 characters .
There are 6 characters l
There are 3 characters c
There are 2 characters k
There are 2 characters y
There are 3 characters d
There are 2 characters v

5\. Isolating the unique

Write a function that determines and count the unique numbers in the list *l*

In [83]:
l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]
def func(list):
    alphabet=[]
    cont=0
    for i in list:
        if i not in alphabet:
            alphabet.append(i)
    for i in alphabet:
        if list.count(i)==1:
            print(i,"is a unique number")
            cont+=1
    print ("There are",cont,"unique numbers")
func(l)

58 is a unique number
74 is a unique number
96 is a unique number
64 is a unique number
10 is a unique number
24 is a unique number
19 is a unique number
33 is a unique number
86 is a unique number
99 is a unique number
18 is a unique number
47 is a unique number
88 is a unique number
55 is a unique number
54 is a unique number
8 is a unique number
79 is a unique number
81 is a unique number
57 is a unique number
37 is a unique number
1 is a unique number
9 is a unique number
95 is a unique number
90 is a unique number
98 is a unique number
39 is a unique number
16 is a unique number
82 is a unique number
92 is a unique number
41 is a unique number
30 is a unique number
94 is a unique number
5 is a unique number
72 is a unique number
87 is a unique number
75 is a unique number
53 is a unique number
There are 37 unique numbers

6\. Combination of functions

Write two functions - one that returns the square of a number, and one that returns the cube. Now write a third function that returns the number raised to the 6th power using the two previous functions.

In [73]:
def power2(pippo):
    return pippo**2
def power3 (pluto):
    return pluto**3
def power6 (paperino):
    return power2(power3(paperino))
power6(2)

64

7\. Cubes

Create a list of the cubes of x for x in *[0, 10]* using:

a) a for loop

b) a list comprehension

In [74]:
list=[]
for i in range(11):
    list.append(i**3)
print(list)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [75]:
list = [x**3 for x in range(11)]
print (list)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

8\. Nested list comprehension

A Pythagorean triple is an integer solution to the Pythagorean theorem $a^2+b^2=c^2$. The first Pythagorean triple is (3,4,5). Find and put in a tuple all unique Pythagorean triples for the positive integers a, b and c less than 100.

In [76]:
print([[a,b,c] for a in range(1,101) for b in range(1,101) for c in range(1,101) if a**2+b**2==c**2])

[[3, 4, 5], [4, 3, 5], [5, 12, 13], [6, 8, 10], [7, 24, 25], [8, 6, 10], [8, 15, 17], [9, 12, 15], [9, 40, 41], [10, 24, 26], [11, 60, 61], [12, 5, 13], [12, 9, 15], [12, 16, 20], [12, 35, 37], [13, 84, 85], [14, 48, 50], [15, 8, 17], [15, 20, 25], [15, 36, 39], [16, 12, 20], [16, 30, 34], [16, 63, 65], [18, 24, 30], [18, 80, 82], [20, 15, 25], [20, 21, 29], [20, 48, 52], [21, 20, 29], [21, 28, 35], [21, 72, 75], [24, 7, 25], [24, 10, 26], [24, 18, 30], [24, 32, 40], [24, 45, 51], [24, 70, 74], [25, 60, 65], [27, 36, 45], [28, 21, 35], [28, 45, 53], [28, 96, 100], [30, 16, 34], [30, 40, 50], [30, 72, 78], [32, 24, 40], [32, 60, 68], [33, 44, 55], [33, 56, 65], [35, 12, 37], [35, 84, 91], [36, 15, 39], [36, 27, 45], [36, 48, 60], [36, 77, 85], [39, 52, 65], [39, 80, 89], [40, 9, 41], [40, 30, 50], [40, 42, 58], [40, 75, 85], [42, 40, 58], [42, 56, 70], [44, 33, 55], [45, 24, 51], [45, 28, 53], [45, 60, 75], [48, 14, 50], [48, 20, 52], [48, 36, 60], [48, 55, 73], [48, 64, 80], [51, 68, 85], [52, 39, 65], [54, 72, 90], [55, 48, 73], [56, 33, 65], [56, 42, 70], [57, 76, 95], [60, 11, 61], [60, 25, 65], [60, 32, 68], [60, 45, 75], [60, 63, 87], [60, 80, 100], [63, 16, 65], [63, 60, 87], [64, 48, 80], [65, 72, 97], [68, 51, 85], [70, 24, 74], [72, 21, 75], [72, 30, 78], [72, 54, 90], [72, 65, 97], [75, 40, 85], [76, 57, 95], [77, 36, 85], [80, 18, 82], [80, 39, 89], [80, 60, 100], [84, 13, 85], [84, 35, 91], [96, 28, 100]]

9\. Normalization

Write a function that takes a tuple of numbers and returns it with the entries normalized to one

In [77]:
import math
def func(pippo):
    tot=0
    for i in range(len(pippo)):
        tot+=pippo[i]**2
    for i in range(len(pippo)):
        pippo[i]=pippo[i]/math.sqrt(tot)
    print(pippo)
func([1,2,2])

[0.3333333333333333, 0.6666666666666666, 0.6666666666666666]